<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('pk_live_sWVpuv2ZeZ89PDsjU7Lx678w')
</script>

<div class="background-bank window-height">
  <div class="overlay">
    <div class="background-bank-title text-center">
      <h3>Votre compte bancaire</h3>
      <% if current_user.bank_account_id %>
        <% account = Stripe::Account.retrieve(current_user.stripe_id) %>
        <% bank_account = account.external_accounts.retrieve(current_user.bank_account_id) %>
        <h4>Actuel : ********<%= bank_account.last4 %></h4>
        <p>Changer de compte bancaire</p>
        <div class="background-bank-form">
        <%= form_for(current_user, url: update_bank_account_profile_path, html: { id: "bank_account_form"} ) do |f| %>
            <div class= "bank-input">
              <input type="text" class= "account-number form-control" />
            </div>
            <div id="notice"></div>
            <%= f.submit "Enregistrement du nouveau compte",  class: "btn btn-pepeat " %>
            <p>En enregistrant votre compte bancaire vous agréez à nos <%= link_to 'CGU', '#' %> et à <%= link_to "l'agrément des des comptes connectés Stripe", 'https://stripe.com/connect/account-terms', target: 'blank' %></p>
          <% end %>
        </div>
      <% else %>
        <p>Ajouter un compte bancaire</p>
        <div class="background-bank-form">
          <%= form_for(current_user, url: update_bank_account_profile_path, html: { id: "bank_account_form"} ) do |f| %>
              <div class= "bank-input">
                <input type="text" class= "account-number" />
              </div>
              <div id="notice"></div>
              <%= f.submit "Enregistrement du compte",  class: "btn btn-pepeat " %>
              <p>En enregistrant votre compte bancaire vous agréez à nos <%= link_to 'CGU', '#' %> et à <%= link_to "l'agrément des des comptes connectés Stripe", 'https://stripe.com/connect/account-terms' %></p>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>







