<div class="background-profile-show background-banner">
  <div class="overlay">
    <div class="background-profile-show-title">
      <h3>Edition du profil</h3>
    </div>
  </div>
</div>
<%= simple_form_for(@user, url: profile_path, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <% if current_user.chief? || params[:chief] == 'true' || (params[:user].present? && params[:user].count > 5)%>
    <div class="container">
      <div class="chief-profile">
        <h1 class= "text-center profile-header">Mes informations</h1>
        <div class="row">
          <div class="col-xs-6">
            <div class="chief-profile-left text-center">
              <h3>Ma photo de chef Pepeat</h3>
                <div>
                  <div id="picturechief"></div>
                  <div class= "img-preview">
                    <%= image_tag @user.picture.url(:large), id: "img-preview" %>
                  </div>
                  <span class="btn btn-success" id= "changepicture">Changer la photo</span>
                </div>
              <div id="picturechief"></div>

            <!-- create chiefpicture hidden form -->

            <div class="hidden-form">
              <%= f.file_field :picture, id: "profilepictureInput"%>
            </div>

              <!-- create chiefpicture hidden form -->

            </div>
          </div>
          <div class="col-xs-4 col-xs-offset-1">
            <div class="chief-profile-right text-center">
              <div class="chief-profile-right-date">
                <%= f.input :surname, label: 'Votre nom de cuisinier',required: false %>
              </div>
              <div class="chief-profile-right-date">
                <%= f.input :firstname, label: 'Votre prénom', required: false %>
              </div>
              <div class="chief-profile-right-date">
                <%= f.input :lastname, label: 'Votre nom de famille', required: false %>
              </div>
              <div class="chief-profile-right-date">
                <%= f.input :address, label: 'Votre adresse',required: false %>
                <input id="street_number" name="street_number" type="hidden">
                <%= f.input :phone_number, name: "street_number", as: :hidden %>
                <input id="route" name="route" type="hidden">
                <input id="postal_code" name="postal_code" type="hidden">
                <input id="locality" name="locality" type="hidden">
                <input id="country" name="country" type="hidden">
                <input id="administrative_area_level_1" name="administrative_area_level_1" type="hidden">
              </div>
              <div class= "chief-profile-right-date">
                <%= f.input :phone_number, label: 'Numéro de téléphone', required: false %>
              </div>
              <div class='input-group' id='datetimepicker7'>
                <%= f.input :birth, as: :string, required: false, label: 'Votre date de naissance'%>
                  <span class="input-group-addon form-control">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="chief-description">
         <h1 class= "text-center profile-header chief-description-title">A propos de moi</h1>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <%= f.input :description, label: false, input_html: { class: 'wysihtml5' } %>
          </div>
        </div>
      </div>
    </div>

    <div class= "text-center button-submit-profile">
      <% if !current_user.chief && (params[:chief] == 'true' || params[:user][:stripe_account] == 'true')%>
        <%= f.input :stripe_account, as: :hidden, input_html: { value: true } %>
      <% end %>
      <em><strong><%= f.button :submit, "Je valide mon profil", class: "btn-lg btn-pepeat" %>
    </div>
  <% else %>

  <!-- if not chief  -->

    <div class="container">
      <div class="chief-profile">
        <h1 class= "text-center profile-header">Mes informations</h1>
        <div class="row">
          <div class="col-xs-6">
            <div class="chief-profile-left text-center">
              <h3>Ma photo de profil</h3>
              <% if @user.picture.nil? %>
                <div class= "img-preview">
                  <%= image_tag 'picture-chief.png', class: "chief-profile-left-picture", id:"placeholder-chief" %>
                </div>
              <% else %>
                <div class= "img-preview">
                  <%= image_tag @user.picture.url(:large), id: "img-preview" %>
                </div>
                <div>
                  <div id="picturechief"></div>
                  <span class="btn btn-success" id= "changepicture">Changer la photo</span>
                </div>
              <% end %>


            <!-- create chiefpicture hidden form -->

            <div class="hidden-form">
              <%= f.file_field :picture, id: "profilepictureInput"%>
            </div>

              <!-- create chiefpicture hidden form -->

            </div>
          </div>
          <div class="col-xs-4 col-xs-offset-1">
            <div class="chief-profile-right text-center">
              <div class= "chief-profile-right-date">
                <%= f.input :firstname, label: 'Votre prénom', required: false %>
              </div>
              <div class= "chief-profile-right-date">
                <%= f.input :lastname, label: 'Votre nom de famille', required: false %>
              </div>
              <div class= "chief-profile-right-date">
                <%= f.input :phone_number, label: 'Numéro de téléphone', required: false %>
              </div>
              <div class="chief-profile-right-date">
                <%= f.input :address, label: 'Votre adresse',required: false %>
              </div>
              <div class='input-group' id='datetimepicker7'>
                <%= f.input :birth, as: :string, required: false, label: 'Votre date de naissance'%>
                  <span class="input-group-addon form-control">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class= "chief-profile-submit">
          <%= f.button :submit, "Je valide mon profil", class: "btn-lg btn-pepeat" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  document.getElementById("user_address").reset();
</script>


