
<%= simple_form_for(@user, url: profile_path, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
    <table>
      <tr>
        <td><%= f.input :firstname %></td>
        <td><%= f.input :lastname %></td>
        <td><%= file_field_tag "chiefpictures[]", type: :file, multiple: true,  id: "chiefpictureInput" %></td>
      </tr>
       <tr>
        <td> <%= f.input :email %></td>
      </tr>
      <tr>
        <td> <%= f.input :address %></td>
      </tr>
      <tr>
        <td><%= f.file_field :picture, id: "pictureInput"%></td>
      </tr>
      <tr>
      <tr>
        <td><%= f.input :description %></td>
      </tr>
        <td><em><strong><%= f.button :submit, "GO!", class: "btn-lg btn-danger" %></td>
      </tr>
    </table>
<% end %>

<div id="target" class= "preview-img-profile">
</div>

