<div class="background-profile-show background-banner">
  <div class="overlay">
    <div class="background-profile-show-title">
      <h3>Edition du profil</h3>
    </div>
  </div>
</div>
<%= simple_form_for(@user, url: profile_path, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <% if current_user.chief? || params[:chief] == 'true' || (params[:user].present? && !params[:user][:description].nil? )%>
    <div class="container">
      <div class="chief-profile">
        <h1 class= "text-center profile-header">Mes informations</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="chief-profile-left text-center">
              <h3>Ma photo de chef Pepeat</h3>
                <div>
                  <div id="picturechief"></div>
                  <div class= "img-preview">
                    <%= image_tag @user.picture.url(:large), id: "img-preview" %>
                  </div>
                  <span class="btn btn-success" id= "changepicture">Changer la photo</span>
                </div>
              <div id="picturechief"></div>

            <!-- create chiefpicture hidden form -->

            <div class="hidden-form">
              <%= f.file_field :picture, id: "profilepictureInput"%>
            </div>

              <!-- create chiefpicture hidden form -->

            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <div class="chief-profile-right text-center">
              <div class="chief-profile-right-date">
                <i class="fa fa-cutlery"></i> <%= f.input :surname, placeholder: 'Nom de chef',required: false, label: false %>
              </div>
              <div class="chief-profile-right-date">
                <i class="fa fa-user"></i><%= f.input :firstname, label: false, placeholder: "Prénom", required: false %>
              </div>
              <div class="chief-profile-right-date">
                <i class="fa fa-user"></i><%= f.input :lastname, label: 'Nom de famille', label: false, placeholder: 'Nom de famille', required: false %>
              </div>
              <div class="chief-profile-right-date">
                <i class="fa fa-map-marker"></i><%= f.input :address, label: false,required: false, placeholder: 'Adresse exacte obligatoire',label: 'Choisissez obligatoirement votre adresse dans le menu déroulant', hint: 'Si votre adresse comporte un bis: écrivez seulement b' %>
                <input id="street_number" name="street_number" type="hidden">
                <input id="route" name="route" type="hidden">
                <input id="postal_code" name="postal_code" type="hidden">
                <input id="locality" name="locality" type="hidden">
                <input id="country" name="country" type="hidden">
                <input id="administrative_area_level_1" name="administrative_area_level_1" type="hidden">
              </div>
              <div class= "chief-profile-right-date">
                <i class="fa fa-mobile"></i><%= f.input :phone_number, label: false, placeholder: 'Téléphone', required: false %>
              </div>
                <% if current_user.birth %>
                <div class='input-group' id='datetimepicker7'>
                  <i class="fa fa-birthday-cake"></i><%= f.input :birth, as: :string, required: false, label: false, :input_html => { :value => localize(f.object.birth) }%>
                    <span class="input-group-addon form-control">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              <% else %>
                <div class='input-group' id='datetimepicker7'>
                  <i class="fa fa-birthday-cake"></i><%= f.input :birth, as: :string, required: false, label: false%>
                    <span class="input-group-addon form-control">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="chief-description">
         <h1 class= "text-center profile-header chief-description-title">A propos de moi</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <%= f.input :description, label: false, input_html: { class: 'wysihtml5' } %>
          </div>
        </div>
      </div>
    </div>

    <div class= "text-center button-submit-profile">
      <% if !current_user.chief && (params[:chief] == 'true' || params[:user][:stripe_account] == 'true')%>

      <% content_for(:after_js) do %>
        <script type="text/javascript">
          $('#user_address').val('')
        </script>
      <% end %>

        <%= f.input :stripe_account, as: :hidden, input_html: { value: true } %>
      <% end %>
      <em><strong><%= f.button :submit, "Je valide mon profil", class: "btn-lg btn-pepeat", id: "new-pepeato" %>
    </div>
  <% else %>

  <!-- if not chief  -->

    <div class="container">
      <div class="chief-profile">
        <h1 class= "text-center profile-header">Mes informations</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="chief-profile-left text-center">
              <h3>Ma photo de profil</h3>
              <% if @user.picture.nil? %>
                <div class= "img-preview">
                  <%= image_tag 'picture-chief.png', class: "chief-profile-left-picture", id:"placeholder-chief" %>
                </div>
              <% else %>
                <div class= "img-preview">
                  <%= image_tag @user.picture.url(:large), id: "img-preview" %>
                </div>
                <div>
                  <div id="picturechief"></div>
                  <span class="btn btn-success2" id= "changepicture">Changer la photo</span>
                </div>
              <% end %>


            <!-- create chiefpicture hidden form -->

            <div class="hidden-form">
              <%= f.file_field :picture, id: "profilepictureInput"%>
            </div>

              <!-- create chiefpicture hidden form -->

            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <div class="chief-profile-right text-center">
              <div class="chief-profile-right-date">
                <i class="fa fa-user"></i><%= f.input :firstname, label: false, placeholder: "Prénom", required: false %>
              </div>
              <div class="chief-profile-right-date">
                <i class="fa fa-user"></i><%= f.input :lastname, label: 'Nom de famille', label: false, placeholder: 'Nom de famille', required: false %>
              </div>
              <div class="chief-profile-right-date">
                <i class="fa fa-map-marker"></i><%= f.input :address, label: false,required: false, placeholder: 'Adresse' %>
              </div>
              <div class= "chief-profile-right-date">
                <i class="fa fa-mobile"></i><%= f.input :phone_number, label: false, placeholder: 'Téléphone', required: false %>
              </div>
              <% if current_user.birth %>
                <div class='input-group' id='datetimepicker7'>
                  <i class="fa fa-birthday-cake"></i><%= f.input :birth, as: :string, required: false, label: false, :input_html => { :value => localize(f.object.birth) }%>
                    <span class="input-group-addon form-control">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              <% else %>
                <div class='input-group' id='datetimepicker7'>
                  <i class="fa fa-birthday-cake"></i><%= f.input :birth, as: :string, required: false, label: false%>
                    <span class="input-group-addon form-control">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class= "chief-profile-submit text-center">
          <%= f.button :submit, "Je valide mon profil", class: "btn-lg btn-pepeat2" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<% if current_user && (current_user.chief == 'false' || current_user.chief == nil) %>
  <script type="text/javascript">
    var link = document.getElementById('new-pepeato');
    analytics.trackLink(link, 'new-pepeato');
  </script>
<% end %>

<script type="text/javascript">
  analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
</script>

