
<% if @user.picture.nil? || @user.firstname.nil? || @user.lastname.nil? %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez pas rempli votre profil</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Je rempli mon profil', edit_profile_path, class: "btn btn-pepeat btn-lg" %>
      </div>
    </div>
  </div>
<% else %>

<div class="background-profile-show">
  <div class="background-profile-show-title">
    <h3>Votre profil</h3>
  </div>
</div>
<h3 class= "text-center title2">Chef <%= @user.surname%></h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="left">
        <%= image_tag @user.picture.url(:large), class: "img-profile" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <h3>A propos de vous</h3>
        <p><%= @user.description.html_safe %></p>
        <%= link_to "Editer mon profil", edit_profile_path, class: "btn btn-pepeat" %>
      </div>
    </div>
  </div>
</div>



<!-- create chiefpicture hidden form -->

<div class= "hidden-form">
  <%= simple_form_for(@chief_picture, url: profile_chief_pictures_path, html: { multipart: true }) do |f| %>
    <%= f.error_notification %>
    <%= f.file_field :chiefpicture, id: "pictureInput"%>
    <%= f.button :submit, "GO!", id:"go", class: "btn-lg btn-danger" %>
  <% end %>
</div>

<!-- END create chiefpicture hidden form -->


<h3 class= "text-center title2">Votre gallerie photo</h3>
<div class="kitchen">
  <div class="container">
    <div class="row">
      <% @user.chief_pictures.each do |picture|%>
        <div class="col-xs-3">
          <div class="picture-kitchen">
            <%= image_tag picture.chiefpicture.url(:medium), class: "kitchen-size" %>
            <%= link_to profile_chief_picture_path(picture),
               method: :delete,
               data: { confirm: "Are you sure?" }, class: "btn btn-sm " do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class= "col-xs-3">
        <div id= "target3", class= "picture-kitchen">
          <%= image_tag 'placeholder.png', id: "placeholder", class: "kitchen-size" %>
        </div>
        <div id= 'target2'></div>
        <div class= "go-btn invisible" id= "space-btn">
          <%=link_to 'Je valide la photo', '#', class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>


<h3 class= "text-center title2">Vos derniers avis</h3>
<div class="container">
  <div class="card-feedback">
    <div class="row">
      <% if review(@user) == 0 %>
          <h3 class= "text-center">Vous n'avez pas encore d'avis</h3>
      <% else %>
        <% @user.meals.each do |meal| %>
          <%= render '/shared/review', meal: meal %>
        <% end %>
        <div class= "text-center avis-btn-position">
          <%= link_to 'Voir tous les avis', rating_profile_path, class: "btn btn-pepeat" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<style media="screen">
  .caca { background-image: url(<%= @user.picture.url(:medium) %>); }
</style>

<% end %>


