<div id="profile-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class= "img-profile">
          <%= image_tag current_user.picture.url(:medium), class: "img-circle size"%>
        </div>
        <div class= "name-profile">
          <%= current_user.firstname %> <%= current_user.lastname %> <%= link_to edit_profile_path do %>
          <i class="fa fa-pencil"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p> description</p>
  <%= current_user.description %>
</div>
