<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-signin">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3">
              <h2 class= "text-center title-pepeat"> Pepeato</h2>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :remote => true do |f| %>
                <%= f.error_notification %>
                <%= f.input :email, label: "Mail", required: false, autofocus: true %>
                <%= f.input :password, required: false %>
                <div class= "text-center">
                  <%= f.button :submit, t('.sign_up', default: "Créer mon compte"), class: "btn btn-pepeat" %>
                </div>
                <% if params[:boom] %>
                  <%= f.input :chief, as: :hidden, input_html: { value: true } %>
                <% end %>
              <% end %>
              <div class= "links text-center">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% raise %>
<script>

  analytics.alias(<%= current_user.id %>);
  analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
  anaytics.track('Sign up');

</script>


