<div class="background window-height">
  <div class="container">
    <div class="card-signin">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class= "text-center title-pepeat"> Pepeat</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, label: "Mail", required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <div class= "text-center">
              <%= f.button :submit, t('.sign_up', default: "Sign up"), class: "btn btn-pepeat" %>
            </div>
          <% end %>
          <div class= "links text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
