<div class="background-order-show background-banner">
  <div class="overlay">
    <div class="background-profile-meals-title text-center">
      <h3>Votre réservation</h3>
    </div>
  </div>
</div>

<div class="bg-order-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="infos">
          <div class="infos-map">
            <div id="map" style="width: 100%; height: 100%;"></div>
            <div class="infos-map-picture">
              <%=image_tag order.meal.user.picture.url(:medium), class: "img-circle infos-map-picture-size" %>
            </div>
          </div>
          <div class="infos-body">
            <div class="infos-body-address">
              <i class="fa fa-map-marker awesome"></i> <%= order.meal.user.address %>
            </div>
            <div class="infos-body-tel">
              <i class="fa fa-mobile awesome"></i> <%= order.meal.user.phone_number %>
            </div>
            <div class="infos-body-hour">
              <% if order.meal.home? %>
                <p> Jour et heure du rendez vous</p>
                <i class="fa fa-calendar awesome"></i><%= order.meal.day.strftime('%d/%m/%Y') %> <%= order.meal.home_hour.strftime('à %Hh') %>
              <% else %>
                <i class="fa fa-calendar awesome"></i> <%= order.meal.day.strftime('%d/%m/%Y') %> <%= order.meal.start_hour.strftime('De %Hh') %> <%= order.meal.end_hour.strftime('à %Hh')%>
              <% end %>
            </div>
            <div class="infos-body-portion">
              <i class="fa fa-cutlery awesome"></i> <%= order.portion %> menus
            </div>
            <div class="infos-body-portion">
              <i class="fa fa-credit-card awesome"></i> <%= total(order) %> €
            </div>
            <div class="infos-body-portion">
              <span><i class="fa fa-shopping-cart awesome"></i>
              <% if order.state == 'paid' %>
                Payé</span>
              <% end %>
            </div>
            <div class= "text-center">
              <% if !order.payment_validation %>
                <% if order.meal.takeaway %>
                  <% if Time.now == order.meal.day %>
                    <%= link_to 'Valider', validation_profile_orders(order), class: "btn btn-pepeat button-validation" %>
                  <% end %>
                <% end %>
                <% if order.meal.home %>
                  <% if Time.now == order.meal.day %>
                    <%= link_to 'Valider', validation_profile_orders(order), class: "btn btn-pepeat button-validation" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div>
                <% if !order.payment_validation %>
                  <% if order.meal.takeaway %>
                    <% if DateTime.now.day == order.meal.day.day %>
                      <%= link_to 'Valider la réception', validation_profile_orders_path(order), class: "btn btn-success buton-order" %>
                    <% else %>
                      <div class= "hover" title= "Vous devez valider votre payement avec ce bouton le jour ou vous irez chercher votre plat.">
                        <%= link_to 'Valider la réception ( le jour j )', '#', class: " disabled btn btn-warning buton-order" %>
                      </div>
                    <% end %>
                  <% end %>
                  <% if order.meal.home %>
                    <% if DateTime.now.day == order.meal.day.day %>
                      <%= link_to 'Valider la reception', validation_profile_orders_path(order), class: "btn btn-pepeat buton-order" %>
                    <% else %>
                      <div class= "hover" title= "Vous devez valider votre payement avec ce bouton le jour ou vous irez chercher votre plat.">
                        <%= link_to 'Valider la réception (le jour j)', "#", class: "disabled btn btn-warning buton-order" %>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <div class= "check-payment hover" title= "Vous avez validé la reception de votre commande">
                    <i class="fa fa-check fa-3x "></i>
                  </div>
                <% end %>
            </div>
            <div class="infos-body-takeaway text-center">
                <%= link_to profile_order_path(order), method: :delete, data: { confirm: "Etes vous certain de vouloir supprimer votre réservation ?" } do %>
                  <button class="button button-caution button-box button-raised button-longshadow hover" title= "Annuler votre réservation">
                    <i class="fa fa-trash"></i>
                  </button>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= render "/shared/ordershow", meal: order.meal %>
      </div>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    })
  <% end %>
<% end %>
