<% if @orders.count == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez encore jamais commandé de plat chez Pepeat ! Il faut y remedier !</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Voir les plats disponibles', meals_path, class: "btn btn-pepeat btn-lg" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="background-profile-orders background-banner">
    <div class="overlay">
      <div class="background-profile-orders-title text-center">
        <h3>Votre historique de réservation</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @orders.each do |order|%>
        <% if order_history(order) %>
          <div class="col-xs-4">
            <div class="card-history">
              <div class="card-history-header text-center">
                <%= link_to publics_path(order.meal.user) do %>
                  <p>Chef <%= order.meal.user.surname %></p>
                <% end %>
              </div>
              <div class="card-history-pic">
                <%= link_to publics_path(order.meal.user) do %>
                  <%= image_tag order.meal.user.picture.url(:medium), class: "img-circle pichistory " %>
                <% end %>
              </div>
              <div class="card-history-body">
                <div class="card-history-body-menu">
                  <i class="fa fa-heart awesome"></i> <%= order.meal.title %>
                </div>
                <div class="card-history-body-hour">
                  <% if order.meal.end_hour.nil? %>
                    <p> Jour et heure du rendez vous</p>
                    <%= order.meal.day.strftime('%d/%m/%Y') %> <%= order.meal.home_hour.strftime('%Hh') %>
                  <% else %>
                    <i class="fa fa-calendar awesome"></i> <%= order.meal.day.strftime('%d/%m/%Y') %> <%= order.meal.start_hour.strftime('De %Hh') %> <%= order.meal.end_hour.strftime('à %Hh')%>
                  <% end %>
                </div>
                <div class="card-history-body-portion">
                  <i class="fa fa-cutlery awesome"></i> <%= order.portion %> menus
                </div>
                <div class="card-history-body-portion">
                  <i class="fa fa-credit-card awesome"></i> <%= total(order) %> €
                </div>
                <% if order.review? %>
                  <div class="card-history-body-reviewed">
                    <i class="fa fa-comments-o awesome"></i><%= order.review %>
                  </div>
                <% end %>
              </div>
              <div class="card-history-review text-center">
                <% if order.review.nil? %>
                  <%= link_to 'Ajouter un avis', rating_profile_orders_path(id: order.id), class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
