<% if @orders.count == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez aucune réservation</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Voir les plats disponibles', meals_path, class: "btn btn-pepeat btn-lg" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="background-profile-orders">
    <div class="background-profile-orders-title">
      <h3>Vos réservations en cours</h3>
    </div>
  </div>
    <div class="container">
    <div class="global-order">
    <div class="row">
      <div class="global-order-header text-center">
        <h2> Offre à durée limité !</h2>
      </div>
      <div class="global-order-body">
        <div class= "global-order-body-equal">
          <%= image_tag 'equal', class: "equal" %>
        </div>
        <div class="col-xs-6">
          <div class="global-order-body-left text-center">
            <h2>10 menus achetés</h2>
            <div>
              <%= image_tag 'happy-order.png', class: "happy-order" %>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="global-order-body-right text-center">
            <h2>1 menu offert</h2>
            <div>
              <%= image_tag 'gift.png', class: "happy-order" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-sm-6">
          <%= render "infoorder", order: order %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>





