<% if @orders.count == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez aucune réservation</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Voir les plats disponibles', meals_path, class: "btn btn-pepeat btn-lg" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="background-profile-orders">
    <div class="background-profile-orders-title">
      <h3>Vos réservations en cours</h3>
    </div>
  </div>
    <div class="bg-order-discount">
      <div class="container">
        <div class="global-order">
          <div class="row">
            <div class="global-order-header text-center">
              <h2> Offre à durée limité !</h2>
            </div>
              <div class="global-order-body">
                <div class= "global-order-body-equal">
                  <%= image_tag 'equal', class: "equal" %>
                </div>
                <div class="col-xs-6">
                  <div class="global-order-body-left text-center">
                    <h2>10 menus achetés</h2>
                    <div>
                      <%= image_tag 'happy-order.png', class: "happy-order" %>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="global-order-body-right text-center">
                    <h2>1 menu offert</h2>
                    <div>
                      <%= image_tag 'gift.png', class: "happy-order" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div id="bg-meals">
  <h1 class= "home-title text-center">Vos commandes</h1>
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>
        <% if order.state == 'paid' %>
          <div class="col-xs-12 col-sm-4">
            <div class="orders">
              <div class="orders-header">
                <div class= "carousel">
                  <% order.meal.meal_pictures.each do |picture| %>
                    <%= link_to profile_order_path(order) do %>
                      <div> <%= image_tag picture.picture.url(:medium), class: "img-carousel"%> </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="orders-header-away">
                  <% if order.meal.home? %>
                    <h3 class= "text-center">Diner chez le chef</h3>
                  <% else %>
                    <h3 class= "text-center">A emporter</h3>
                  <% end %>
                </div>
                <div class="orders-header-price">
                  <%= order.portion %> <i class="fa fa-cutlery"></i>
                </div>
                <div class="orders-header-date">
                  <p><%= l(order.meal.day, format: '%A %d/%m')%></p>
                </div>
                <div class="orders-header-hour">
                <% if order.meal.home?%>
                  <p><%= order.meal.home_hour.strftime('%Hh:%M') %></p>
                <% else %>
                  <p><%= order.meal.start_hour.strftime('%Hh:%M')%> - <%= order.meal.end_hour.strftime(' %Hh:%M') %></p>
                <% end %>
                </div>
                <div class="orders-header-button">
                  <% if !order.payment_validation %>
                    <%= link_to profile_order_path(order),
                      method: :delete,
                      data: { confirm: "Etes vous certain de vouloir supprimer votre réservation ?" } do %>
                      <button class="button button-tiny button-caution button-box button-raised button-longshadow hover" title= "Annuler votre réservation">
                        <i class="fa fa-trash"></i>
                      </button>
                    <% end %>
                  <% end %>
                </div>
                <div class="orders-header-pic">
                  <%= link_to publics_path(order.meal.user) do %>
                    <%= image_tag order.meal.user.picture.url(:thumb), class: "img-circle home-pic" %>
                  <% end %>

                </div>
              </div>
              <div class="orders-body-show">
                <%= link_to 'Voir ma commande', profile_order_path(order), class: "btn btn-pepeat buton-order" %>
              </div>
              <div class="orders-body-payment">
                <% if !order.payment_validation %>
                  <% if order.meal.takeaway %>
                    <% if DateTime.now.day == order.meal.day.day %>
                      <%= link_to 'Valider la réception', validation_profile_orders_path(order), class: "btn btn-success buton-order" %>
                    <% else %>
                      <div class= "hover" title= "Vous devez valider la réception avec ce bouton le jour ou vous irez chercher votre plat.">
                        <%= link_to 'Valider la réception ( le jour j )', '#', class: " disabled btn btn-warning buton-order" %>
                      </div>
                    <% end %>
                  <% end %>
                  <% if order.meal.home %>
                    <% if DateTime.now.day == order.meal.day.day %>
                      <%= link_to 'Valider la reception', validation_profile_orders_path(order), class: "btn btn-success buton-order" %>
                    <% else %>
                      <div class= "hover" title= "Vous devez valider la réception avec ce bouton le jour ou vous irez chercher votre plat.">
                        <%= link_to 'Valider la réception (le jour j)', "#", class: "disabled btn btn-warning buton-order" %>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <div class= "check-payment hover" title= "Vous avez validé la reception de votre commande">
                    <i class="fa fa-check fa-3x "></i>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
     </div>
    </div>
  </div>
<% end %>
