<% if @orders.count == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez aucune réservation</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Voir les plats disponibles', meals_path, class: "btn btn-pepeat btn-lg" %>
      </div>
    </div>
  </div>
<% else %>
  <% @orders.each do |order| %>
    <div class="card-globale">
      <h3 class= "text-center title" ><%= order.meal.title %></h3>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <%= render "ordercard", meal: order.meal %>
          </div>
          <div class="col-xs-6">
            <%= render "infoorder", order: order %>
              <%= link_to profile_order_path(order),
                 method: :delete,
                 data: { confirm: "Etes vous certain de vouloir annuler votre commande ?" }, class: "btn btn-danger " do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>



