<div class="background-profile-show">
  <div class="background-profile-show-title">
    <h3>Profil de <%= @user.surname %></h3>
  </div>
</div>


<div class="container">
    <div class="chief-profile">
      <h1 class= "text-center profile-header">Informations</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="chief-profile-left text-center">
            <div class= "classic-pic">
              <%= image_tag @user.picture.url(:large), id: "img-preview" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <div class="chief-profile-right text-center">
            <p> Nom de chef</p>
            <div class= "chief-profile-right-date">
              <%= @user.surname %>
            </div>
            <p> Prénom</p>
            <div class= "chief-profile-right-date">
              <%= @user.firstname %>
            </div>
            <p>Nom</p>
            <div class= "chief-profile-right-date">
              <%= @user.lastname %>
            </div>
            <p> Adresse</p>
            <div class= "chief-profile-right-date">
              <%= @user.address %>
            </div>
            <p> Numéro de téléphone</p>
            <div class= "chief-profile-right-date">
              <%= @user.phone_number %>
            </div>
            <p> Date de naissance</p>
            <div class= "chief-profile-right-date">
              <% if  @user.birth %>
                <%= l(@user.birth, format: '%d / %m / %Y') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<h3 class= "text-center title2">Les plats actuellement proposés</h3>
<div class="container">
  <div class="row">
    <% @user.meals.each do |meal| %>
      <div class="col-xs-6">
        <%= render "/shared/cardmeals", meal: meal %>
      </div>
    <% end %>
  </div>
</div>


<h3 class= "text-center title2">La cuisine du chef</h3>
<div class="kitchen">
  <div class="container">
    <div class="row">
      <% @user.chief_pictures.each do |picture|%>
        <div class="col-xs-4">
          <div class="picture-kitchen">
            <%= image_tag picture.chiefpicture.url(:large), class: "kitchen-size" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h3 class= "text-center title2">Les derniers avis</h3>
<div class="container">
  <div class="card-feedback">
    <div class="row">
      <% @user.meals.each do |meal| %>
        <%= render '/shared/review', meal: meal %>
      <% end %>
    </div>
  </div>
  <div class= "text-center avis-btn-position">
    <%= link_to 'Voir tous les avis', public_path(@user), class: "btn btn-pepeat" %>
  </div>
</div>


<style media="screen">
  .caca { background-image: url(<%= @user.picture.url(:medium) %>); }
</style>




