
<h3 class= "text-center title2">Chef <%= @user.surname%></h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="left">
        <%= image_tag @user.picture.url(:large), class: "img-profile" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <h3>A propos de <%= @user.firstname %></h3>
        <p><%= @user.description %></p>
      </div>
    </div>
  </div>
</div>




<h3 class= "text-center title2">Les plats actuellement proposés</h3>
<div class="container">
  <div class="row">
    <% @user.meals.each do |meal| %>
      <div class="col-xs-6">
        <%= render "/meals/cardmeals", meal: meal %>
      </div>
    <% end %>
  </div>
</div>


<h3 class= "text-center title2">La cuisine du chef</h3>
<div class="kitchen">
  <div class="container">
    <div class="row">
      <% @user.chief_pictures.each do |picture|%>
        <div class="col-xs-3">
          <div class="picture-kitchen">
            <%= image_tag picture.chiefpicture.url(:medium), class: "kitchen-size" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h3 class= "text-center title2">Les derniers avis</h3>
<div class="container">
  <div class="card-feedback">
    <div class="row">
      <% @user.meals.each do |meal| %>
        <%= render '/shared/review', meal: meal %>
      <% end %>
    </div>
  </div>
  <div class= "text-center avis-btn-position">
    <%= link_to 'Voir tous les avis', public_path(@user), class: "btn btn-pepeat" %>
  </div>
</div>


<style media="screen">
  .caca { background-image: url(<%= @user.picture.url(:medium) %>); }
</style>




