<div class="background-profile-show background-banner">
  <div class="overlay">
    <div class="background-profile-show-title">
      <h3>Profil de <%= @user.surname %></h3>
    </div>
  </div>
</div>



  <div class="container">
    <div class="chief-profile 1">
      <h1 class= "text-center profile-header">A propos de <%= @user.firstname %></h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="chief-profile-left text-center">
            <div class= "classic-pic">
              <%= image_tag @user.picture.url(:large), class: "user-img img-circle" %>
              </br>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <div class="chief-profile-right">
            <div class= "chief-profile-right-date">
              <i class="fa fa-cutlery awesome"></i> <span><%= @user.surname %></span>
            </div>
          <!-- <p> Prénom</p> -->
            <div class= "chief-profile-right-date">
              <i class="fa fa-user awesome"></i> <span><%= @user.firstname %></span>
            </div>
            <!-- <p>Nom</p> -->
            <div class= "chief-profile-right-date">
              <i class="fa fa-user awesome"></i> <%= @user.lastname %>
            </div>
            <!-- <p> Numéro de téléphone</p> -->
            <% if current_user.address %>
              <!-- <p> Adresse</p> -->
              <div class= "chief-profile-right-date">
                <i class="fa fa-map-marker awesome"></i><%= @user.address %>
              </div>
            <% end %>
            <!-- <p> Date de naissance</p> -->
            <div class= "chief-profile-right-date">
              <% if  @user.birth %>
                <i class="fa fa-birthday-cake awesome"></i> <%= l(@user.birth, format: '%d / %m / %Y') %>
              <% end %>
            </div>
          </div>
        </div>
        <div class=" col-xs-12 col-sm-8 col-sm-offset-2 ">
          <p><%= @user.description.html_safe %> </p>
        </div>
      </div>
    </div>
  </div>


<h3 class= "text-center title2">Les plats actuellement proposés</h3>
<div class="container">
  <div class="row">
    <% @user.meals.each do |meal| %>
      <% if meal.validate && meal_actual(meal) %>
        <div class="col-xs-6">
          <%= render "/shared/cardmeals", meal: meal %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<h3 class= "text-center title2">La cuisine du chef</h3>
<div class="kitchen">
  <div class="container">
    <div class="row">
      <% @user.chief_pictures.each do |picture|%>
        <div class="col-xs-4">
          <div class="picture-kitchen">
            <%= image_tag picture.chiefpicture.url(:large), class: "kitchen-size" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h3 class= "text-center title2">Les derniers avis</h3>
<div class="container">
  <div class="card-feedback">
    <div class="row">
      <% if review(@user) == 0 %>
        <p class= "text-center"> Le chef <%= @user.firstname%> n'a pas encore d'avis !</p>
      <% else %>
        <% @user.meals.each do |meal| %>
          <%= render '/shared/review', meal: meal %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class= "text-center avis-btn-position">
    <%= link_to 'Voir tous les avis', public_path(@user), class: "btn btn-pepeat" %>
  </div>
</div>






