<div class="background-meal-new background-banner">
  <div class="overlay">
    <div class="background-meal-new-title text-center">
      <h3>Modifier votre menu</h3>
    </div>
  </div>
</div>


<%= simple_form_for(@meal, url: profile_meal_path(@meal), html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <!-- FLO V2 -->
  <div class="create-first text-center">
    <h2>À emporter ou sur place ?</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <div class="create-first-card" id= "takeaway">
            <h1>À emporter</h1>
            <%= image_tag 'a-emporter' %>
            <p>Vous servez votre repas dans des lunchbox que vous remettez à vos clients.</p>
            <div class="create-first-card-check">
              <p><i class="fa fa-check"></i>Vous préparez les lunchbox</p>
              <p><i class="fa fa-check"></i>Les clients mangent chez eux</p>
            </div>
            <button type= "button" class= "btn btn-pepeat2" id= "click2">Je choisis ce mode</button>
            <div class="validation1 invisible">
              <i class="fa fa-3x fa-check-circle-o"></i>
            </div>
            <div class="invisible">
              <%= f.input :takeaway, label: 'À emporter' %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="create-first-card" id= "home">
            <h1>Sur place</h1>
            <%= image_tag 'sur-place' %>
            <p>Vous acceuillez vos convives en tant qu'hôte. Vous pouvez manger avec ou sans eux.</p>
            <div class="create-first-card-check">
              <p><i class="fa fa-check"></i>Repas à votre table</p>
              <p><i class="fa fa-check"></i>De belles rencontres</p>
            </div>
            <button type= "button" class= "btn btn-pepeat2" id= "click1">Je choisis ce mode</button>
            <div class="validation2 invisible">
              <i class="fa fa-3x fa-check-circle-o"></i>
            </div>
             <div class="invisible">
              <%= f.input :home, label: 'Sur place' %>
             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="create-first-button">
      <a href=".create-second"><button type="button" class= "btn btn-pepeat invisible" id= "next-step1">Etape suivante</button></a>
    </div>
  </div>


  <div class="create-second invisible text-center">
    <h2>Votre menu</h2>
    <div class="container">
      <div class="col-xs-12">
        <div class="create-second-card">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <div class="create-second-card-title">
                <%= f.input :title, label: "Nom de votre menu", required: false, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="create-second-card-compo">
            <h3>Dans mon menu il y a :</h3>
            <p>Cliquez sur le + pour choisir la composition de votre menu. <br> Il n'est pas obligatoire de faire entrée + plat + dessert, vous êtes libre de cuisiner ce que vous désirez.  </p>
            <div class="row">
              <div class="col-xs-4">
                <div class="create-second-card-compo-el">
                  <h2>Une entrée</h2>
                  <i class="fa fa-plus-circle hvr-grow hvr-fadeIn" id="click3"></i>
                  <div id= "starter-input">
                    <%= f.input :starter, label: false %>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="create-second-card-compo-el">
                  <h2>Un plat</h2>
                  <i class="fa fa-plus-circle hvr-grow hvr-fadeIn" id="click4"></i>
                  <div id= "main-input">
                    <%= f.input :main, label: false %>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="create-second-card-compo-el">
                  <h2>Un dessert</h2>
                  <i class="fa fa-plus-circle hvr-grow hvr-fadeIn" id="click5"></i>
                  <div id= "dessert-input">
                    <%= f.input :dessert, label: false %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="create-second-card-description">
                <h2>Description</h2>
                <%= f.input :description, placeholder: "Exemple : Cette recette m'a été transmise par mes ancêtres. Je la cuisine depuis 37 ans et souhaite aujourd'hui la faire connaître au monde entier ...", label: false, input_html: { class: 'wysihtml5' }, wysihtml5: { locale: "fr-FR" } %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="create-second-card-description">
                <h2>Ingrédients</h2>
                <%= f.input :ingredients, placeholder: '<b>Entrée</b> : tomate, oignon ...  </br> <b>Plat</b> :  boeuf, crème fraîche ... </br> <b>Dessert</b> : amande, farine, oeuf ... ', label: false, input_html: { class: 'wysihtml5' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="create-second-button">
      <a href=".create-third"><button type="button" class= "btn btn-pepeat" id= "next-step2">Etape suivante</button></a>
    </div>
  </div>



  <div class="create-third invisible text-center">
    <h2>Prix et quantité</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <div class="create-third-card">
            <div class="create-third-card-header">
              <%= image_tag 'prix' %>
            </div>
            <div class="create-third-card-body">
              <h3>Prix pour un menu</h3>
              <p>Dessert ou entrée : 3€ - 5€ <br> Entrée ou dessert et plat : 7 - 10 € <br> Entrée et plat et dessert : 8 - 12 €</p>
            </div>
            <div class="create-third-card-input">
              <%= f.input :price, label: false, required: false %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="create-third-card">
            <div class="create-third-card-header">
              <%= image_tag 'nombre-menus' %>
            </div>
            <div class="create-third-card-body">
              <h3>Nombre de menus</h3>
              <p>Vous proposez un nombre de menus en adéquation avec la taille de votre cuisine. Il n'y a pas de limite !</p>
            </div>
            <div class="create-third-card-input">
              <%= f.input :portion,label: false ,collection: 1..100, required: false%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="create-third-button">
      <a href=".create-fourth"><button type="button" class= "btn btn-pepeat" id= "next-step3">Etape suivante</button></a>
    </div>
  </div>

  <div class="create-fourth invisible text-center">
    <h2>Jour et heure</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="create-fourth-card">
            <div class="row">
              <div class="col-xs-3">
                <div class="create-fourth-card-header">
                  <%= image_tag 'horaire'%>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="create-fourth-card-body">
                  <h2>Quel jour cuisinez vous ?</h2>
                  <div class="form-group date-day-input" align="center">
                    <div class='input-group' id='datetimepicker3'>
                      <%= f.input :day, as: :string, label: false, class: 'form-control' %>
                      <span class="input-group-addon form-control">
                      <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                  <div class="create-fourth-card-button">
                    <button type= "button" class= "btn btn-pepeat2" id="get-hour"> Je valide</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="create-fourth-card-body invisible" id= "hour">
                  <div class="goaway invisible">
                    <h3>À quelle heure viennent vos clients ?</h3>
                    <p>Choisissez le créneau horaire pendant lequel vos clients peuvent venir chercher leurs menus. </p>
                    <div class="form-group" align= "center">
                      <div class='input-group' id='datetimepicker4'>
                        <%= f.input :start_hour, as: :string, label: false, class: 'form-control' %>
                        <span class="input-group-addon form-control">
                        <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group" align= "center">
                      <div class='input-group' id='datetimepicker5'>
                        <%= f.input :end_hour, as: :string, label: false, class: 'form-control' %>
                        <span class="input-group-addon form-control">
                        <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="invisible gohome">
                    <h3>À quelle heure vos convives arrivent chez vous ? </h3>
                    <p>Prévoyez un peu de marge pour les éventuels retards.</p>
                    <div class="form-group" align= "center">
                      <div class='input-group' id='datetimepicker6'>
                        <%= f.input :home_hour, as: :string, label: false, class: 'form-control' %>
                        <span class="input-group-addon form-control">
                        <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="create-fourth-button">
      <a href=".create-fifth"><button type="button" class= "btn btn-pepeat" id= "next-step4">Etape suivante</button></a>
    </div>
  </div>

<%= f.input :validation, as: :hidden, input_html: { value: false } %>

  <div class="create-fifth invisible text-center">
    <h2>C'est fini ! </h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <div class="create-fifth-card">
            <div class="create-fifth-card-header">
              <%= image_tag 'review' %>
            </div>
            <div class="create-fifth-card-body">
              <h3>Bravo ! Vous avez fini la modification de votre menu</h3>
              <p>Les nouvelles informations seront à nouveau vérifiées et l'équipe Pepeat validera le menu dans les plus brefs délais.</p>
              <%= f.button :submit, "Je valide les modifications", class: "btn btn-pepeat2" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END FLO V2 -->

<% end %>

<script type="text/javascript">
  analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
</script>












