<% if @meals.count == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez pas de menu en cours</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-pepeat btn-large" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="background-profile-meals background-banner">
    <div class="overlay">
      <div class="background-profile-meals-title">
        <h3>Vos anciennes annonces</h3>
      </div>
      <div class= "background-profile-meals-add hover" title= "Créer un nouveau menu">
        <%= link_to new_profile_meal_path do %>
          <button class="button button-glow button-circle button-action button-jumbo">
            <i class="fa fa-plus"></i>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="global-order">
      <div class="row">
        <div class="global-order-header text-center">
          <h2> Etat de votre activité</h2>
        </div>
        <div class="global-order-body">
          <div class="col-xs-6">
            <div class="global-order-body-left text-center">
              <p> Féliciation vous avez vendu</p>
              <h2><%= total_meal_sold(@meals)%> plats</h2>
              <div>
                <%= image_tag 'CA.png', class: "happy-order" %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="global-order-body-right text-center">
              <p> Votre chiffre d'affaire est de </p>
              <h2><%= total_recettes(@meals) %> €</h2>
              <div>
                <%= image_tag 'sales.png', class: "happy-order" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @meals.each do |meal| %>
    <% if meal_history(meal)%>
      <div class="container">
        <div class="card-offer">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="card-offer-left">
                <div class="card-offer-left-title text-center">
                  <%= meal.title%> - <%=meal.price%> €
                </div>
                <% if meal.starter? %>
                  <div class="card-offer-left-meal">
                      <%= image_tag 'starter.png', class: "card-offer-left-meal-icon"%>
                    <div class="card-offer-left-meal-name">
                      <%= meal.starter %>
                    </div>
                  </div>
                <% end %>
                <% if meal.main? %>
                  <div class="card-offer-left-meal">
                    <%= image_tag 'main.png', class: "card-offer-left-meal-icon"%>
                    <div class="card-offer-left-meal-name">
                      <%= meal.main %>
                    </div>
                  </div>
                <% end %>
                <% if meal.dessert? %>
                  <div class="card-offer-left-meal">
                    <%= image_tag 'dessert.png', class: "card-offer-left-meal-icon"%>
                    <div class="card-offer-left-meal-name">
                      <%= meal.dessert %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="card-offer-right">
                <div class="card-offer-right-title text-center">
                  Infos
                </div>
                <div class="card-offer-right-date">
                <% if meal.home? %>
                   <%= image_tag 'home2.png', class: "card-offer-right-date-img hover", title: "Sur place" %>
                  <div class= "card-offer-right-date-infos text-center">
                    <div>
                      <b><%= meal.day.strftime('%d/%m/%Y') %></b>
                    </div>
                    <div>
                      RDV à <%= meal.home_hour.strftime('%Hh:%M')%> chez le cuisinier
                    </div>
                  </div>
                <% else %>
                  <%= image_tag 'take.png', class: "card-offer-right-date-img hover", title: "A emporter" %>
                  <div class= "card-offer-right-date-infos text-center">
                    <div>
                     <b><%= meal.day.strftime('%d/%m/%Y') %></b>
                    </div>
                    <div>
                      <%= meal.start_hour.strftime('De %Hh:%M') %> <%= meal.end_hour.strftime('à %Hh:%M')%>
                    </div>
                  </div>
                <% end %>
                </div>
                <div class="card-offer-right-portion">
                  <div class= "card-offer-right-portion-infos text-center">
                    <%= booked_portions(meal)%> menu(s) commandé(s)
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-offer-list text-center">
              <% meal.orders.each do |order| %>
                <% if order.state == 'paid' %>
                  <%= render "/shared/modale_user", order: order %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


<script type="text/javascript">
  analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
</script>
