<% if @meals.count == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez pas de menu en cours</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-pepeat btn-large" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="background-profile-meals background-banner">
    <div class= "overlay">
    <div class="background-profile-meals-title text-center">
      <h3>Vos annonces en cours</h3>
    </div>
    <div class= "background-profile-meals-add hover" title= "Créer un nouveau menu">
      <%= link_to new_profile_meal_path do %>
      <button class="button button-glow button-circle button-action button-jumbo">
        <i class="fa fa-plus"></i>
      </button>
      <% end %>
    </div>
     </div>
  </div>
  <% @meals.each do |meal| %>
    <% if meal_actual(meal) %>


      <div class="dashboard">
        <div class="container">
          <div class="col-xs-12">
            <div class="dashboard-card">
              <div class="row">
                <div class="col-sm-4">
                  <%= render '/shared/cardmeals', meal: meal %>
                </div>
                <div class="col-sm-8">
                  <div class="dashboard-card-right text-center">
                    <% if meal.validation? %>
                      <div class="dashboard-card-right-validate">
                        <h2>Menu en ligne</h2>
                      </div>
                    <% else %>
                      <div class="dashboard-card-right-nonvalidate">
                        <h2>Menu en cours de validation</h2>
                      </div>
                    <% end %>
                    <div class="dashboard-card-right-bodytop">
                      <div class="col-sm-3">
                        <p>Voir</p>
                        <%= link_to meal_path(meal), class: "hvr-grow" do %>
                          <%= image_tag 'show' %>
                        <% end %>
                      </div>
                      <div class="col-sm-3">
                        <p>Modifier</p>
                        <% if meal.orders.where(state: "paid").count == 0 %>
                          <%= link_to edit_profile_meal_path(meal), class: "hvr-grow" do %>
                            <%= image_tag 'modify' %>
                          <% end %>
                        <% else %>
                          <span class= "hover" title= "Vous ne pouvez pas modifier un menu lorsque vous avez des réservations">
                            <%= image_tag 'modify', class: "hvr-grow" %>
                          </span>
                        <% end %>
                      </div>
                      <div class="col-sm-3">
                        <p>Supprimer</p>
                        <%= link_to profile_meal_path(meal), class: "hvr-grow",
                        method: :delete,
                        data: { confirm: "Etes vous certain de vouloir supprimer votre menu ?" } do %>
                            <span class= "hover" title= "Supprimer votre menu. Cette action est irréversible. Les personnes ayant commandés seront prévenues par mail">
                              <%= image_tag 'delete' %>
                            </span>
                        <% end %>
                      </div>
                      <div class="col-sm-3">
                        <p>Photos</p>
                        <%= link_to mealpic_profile_meals_path(meal_id: meal.id), class: "hvr-grow" do %>
                          <%= image_tag 'modpicture' %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="dashboard-card-right-bodybottom">
                        <h2>Commandes</h2>
                        <p>Vous suivez ici l'avancement de vos commandes. Pour plus d'informations sur une commande en particulier ( téléphone, paiement etc), cliquez dessus.</p>
                        <span><%= booked_portions(meal)%></span> / <span><%= meal.portion %></span>
                      </div>
                      <div class="dashboard-card-right-user">
                        <% meal.orders.each do |order| %>
                          <% if order.state == 'paid' %>
                            <%= render "/shared/modale_user", order: order %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <% end %>
  <% end %>
<% end %>







<script type="text/javascript">
  analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
</script>




