<div class= "hidden-form">
  <%= simple_form_for(@meal_picture, url: profile_meal_pictures_path(meal_id: params[:meal_id]), html: { multipart: true }) do |f| %>
    <%= f.error_notification %>
    <%= f.file_field :picture, id: "pictureInput"%>
    <%= f.button :submit, "GO!", id:"go", class: "btn-lg btn-danger" %>
  <% end %>
</div>

<div class="background-profile-show background-banner">
  <div class="overlay">
    <div class="background-profile-show-title text-center">
      <h3>Les photos de votre menu</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="gallery-kitchen">
    <h1 class= "text-center profile-header">Les photos de mon menu</h1>
    <div class="gallery-kitchen-row">
      <div class="row">
        <% @meal.meal_pictures.each do |picture|%>
          <div class="col-xs-12 col-sm-4">
            <div class="picture-kitchen">
              <%= image_tag picture.picture.url(:large), class: "kitchen-size" %>
              <div class= "text-center">
                <%= link_to 'Redimensionner', mealcrop_profile_meals_path(picture, meal_id: params[:meal_id]), class: "button button-highlight button-tiny" %>
                <%= link_to profile_meal_picture_path(picture, meal_id: params[:meal_id]),
                method: :delete,
                data: { confirm: "Etes vous certain de vouloir supprimer la photo ?" } do %>
                  <button class="button button-caution button-square button-tiny">
                  <i class="fa fa-trash"></i>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class= "col-xs-12 col-sm-3">
          <div id= "target3", class= "picture-kitchen">
            <%= image_tag 'placeholder.png', id: "placeholder", class: "kitchen-size" %>
          </div>
          <div id= 'target2' class= "picture-kitchen"></div>
          <div class= "go-btn invisible" id= "space-btn">
            <%=link_to 'Valider', 'javascript:;', class: 'btn btn-success' %>
          </div>
          <div class= "go-btn invisible modify-btn" id= "change-btn">
            <%=link_to 'Changer', 'javascript:;', class: 'btn btn-pepeat' %>
          </div>
          <div class= "go-btn invisible cancel-btn" id= "change-btn">
            <%= link_to "Annuler", '', class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      <div class= "gallery-kitchen-row-submit validation">
        <%= link_to 'Je confirme mes photos', profile_meals_path, class: "btn btn-success2 btn-lg" %>
      </div>
    </div>
  </div>
</div>


