<div class= "hidden-form">
  <%= simple_form_for(@meal_picture, url: profile_meal_pictures_path(meal_id: params[:meal_id]), html: { multipart: true }) do |f| %>
    <%= f.error_notification %>
    <%= f.file_field :picture, id: "pictureInput"%>
    <%= f.button :submit, "GO!", id:"go", class: "btn-lg btn-danger" %>
  <% end %>
</div>


<div class="container">
  <div class="gallery-kitchen">
    <h1 class= "text-center profile-header">Ma gallerie photo</h1>
    <div class="row">
      <% @meal.meal_pictures.each do |picture|%>
        <div class="col-xs-12 col-sm-4">
          <div class="picture-kitchen">
            <%= image_tag picture.picture.url(:large), class: "kitchen-size" %>
            <%= link_to 'Redimensionner', mealcrop_profile_meals_path(picture, meal_id: params[:meal_id]), class: "btn btn-danger" %>
            <%= link_to profile_meal_picture_path(picture, meal_id: params[:meal_id]),
               method: :delete,
               data: { confirm: "Are you sure?" }, class: "btn btn-sm " do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class= "col-xs-12 col-sm-3">
        <div id= "target3", class= "picture-kitchen">
          <%= image_tag 'placeholder.png', id: "placeholder", class: "kitchen-size" %>
        </div>
        <div id= 'target2'></div>
        <div class= "go-btn invisible" id= "space-btn">
          <%=link_to 'Je valide la photo', '#', class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Je valide', profile_meals_path, class: "btn btn-pepeat" %>
