<div class="background-meal-new background-banner">
  <div class="overlay">
    <div class="background-meal-new-title text-center">
      <h3>Créez votre menu</h3>
    </div>
  </div>
</div>

<ul class="nav nav-pills nav-justified">
  <li role="presentation"><a href=".first">1. Menu</a></li>
  <li role="presentation"><a href=".second">2. Ingrédients</a></li>
  <li role="presentation"><a href=".third">3. A propos</a></li>
  <li role="presentation"><a href=".fourth">4. Prix et quantité</a></li>
  <li role="presentation"><a href=".five">5. Date</a></li>
</ul>

<%= simple_form_for(@meal, url: profile_meals_path, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="container">
    <div class="card-menu first">
      <h1 class= "text-center profile-header">1. Votre menu</h1>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="card-menu-left">
            <p class= "text-center">Entrée et/ou plat et/ou dessert, à vous de choisir ce que vous cuisinez !</p>
            <%= f.input :title, label: "Nom de votre menu", required: false %>
            <%= f.input :starter, label: "Entrée" %>
            <%= f.input :main, label: "Plat principal" %>
            <%= f.input :dessert, label: "Dessert" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="card-menu-right">
            <div class= "card-menu-right-away">
              <div class= "card-menu-right-away-txt">
                <h3>À emporter</h3>
                <p>Vous distribuez directement vos préparations à vos clients, depuis votre domicile, dans des lunch box à votre charge. Vous fixez la date et l'heure à laquelle ils pourront se rendre chez vous.  </p>
                <%= f.input :takeaway, label: 'À emporter' %>
              </div>
                <%= image_tag 'emporter.png', class: "card-menu-right-away-pic" %>
            </div>
            <div class= "card-menu-right-home">
              <div class= "card-menu-right-home-txt">
                <h3>Sur place</h3>
                <p>D'humeur sociable ? Recevez vos clients à votre table et partagez un moment privilégié autour de votre cuisine.</p>
                <%= f.input :home, label: 'Sur place' %>
              </div>
                <%= image_tag 'chez-le-chef.png', class: "card-menu-right-home-pic" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card-ingredients second">
      <h1 class= "text-center profile-header">2. Ingrédients</h1>
      <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
          <div class= "card-ingredients-left text-center">
            <%= image_tag 'ingredient.png', class: "card-ingredients-left-pic" %>
            <p>La liste complète des ingrédients est obligatoire. Elle permet aux utilisateurs de connaître la composition du menu. </p>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
          <%= f.input :ingredients, placeholder: '<b>Entrée</b> : tomate, oignon ...  </br> <b>Plat</b> :  boeuf, crème fraîche ... </br> <b>Dessert</b> : amande, farine, oeuf ... ', label: false, input_html: { class: 'wysihtml5' } %>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card-description-menu third">
      <h1 class= "text-center profile-header">3. Description</h1>
      <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
            <div class= "card-description-menu-left text-center">
              <%= image_tag 'description.png', class: "card-description-menu-left-pic" %>
              <p>Décrivez votre menu et donnez envie à vos clients de le commander.  </p>
            </div>
          </div>
        <div class="col-xs-5 col-xs-offset-2">
          <%= f.input :description, placeholder: "<b>Exemple </b> : </br> Cette recette m'a été transmise par mes ancêtres. Je la cuisine depuis 37 ans et souhaite aujourd'hui la faire connaître au monde entier ...", label: false, input_html: { class: 'wysihtml5' } %>
        </div>
      </div>
    </div>
  </div>



    <!-- Hidden form -->

    <div class="hidden-form">
      <%= file_field_tag "pictures[]", type: :file, multiple: true,  id: "mealpictureInput" %>
    </div>

    <!-- Hidden form -->

    <div class= "container">
      <div class="menu-infos fourth">
        <h1 class= "text-center profile-header">4. Prix et quantité</h1>
        <div class="row">
          <div class= "col-xs-12 col-sm-6">
            <div class="menu-infos-price">
              <div class= "text-center menu-infos-price-icon">
                <%= image_tag 'price.png', class: "menu-infos-price-icon-size" %>
                <h3>Prix pour un menu</h3>
              </div>
              <b><p>Conseils</p></b>
              <p> Dessert ou entrée : 3 - 5 €</p>
              <p>Entrée ou dessert et plat : 7 - 10 €</p>
              <p>Entrée et plat et dessert : 8 - 12 €</p>
              <%= f.input :price, label: 'Prix (€)',required: false,collection: 1..100, input_html: { style: 'width: 100px' } %>
            </div>
          </div>
          <div class= "col-xs-12 col-sm-6">
            <div class="menu-infos-portion">
              <div class="text-center menu-infos-portion-icon">
                <%= image_tag 'quantity.png', class: "menu-infos-portion-icon-size" %>
                <h3>Nombre de menus</h3>
            </div>
            <p>Choisissez le nombre de menu que vous souhaitez cusiner.</p>
            <p>En moyenne, les Pepeato proposent entre 5 et 50 menus.</p>
            <p>A vos fourneaux !</p>
              <%= f.input :portion,label: 'Nombre de menus',collection: 1..100, required: false, input_html: { style: 'width: 100px' } %>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="container">
  <div class="date five">
    <h1 class= "text-center profile-header">5. Fixez une date</h1>
    <div class="text-center">
      <h3 class="take-away-txt invisible">Quand vos clients pourront ils récupérer leur menu ?</h3>
      <h3 class= "hidden-field">Vous devez choisir "sur place" ou "à emporter" <a href=".first", class: 'btn btn-pepeat'>ici</a></h3>
      <h3 class= "invisible home-txt">Quand voulez-vous recevoir vos convives ?</h3>
      <%= image_tag 'calendar.png', class: "date-calendar" %>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="date-day text-center">
          <h3 class= "text-center">Quel jour ?</h3>
          <p>Indiquez le jour auquel votre menu sera disponible, le jour où vous souhaitez cuisiner.</p>
          <div class="form-group date-day-input" align="center">
            <div class='input-group date' id='datetimepicker3'>
              <%= f.input :day, as: :string, label: false, class: 'form-control' %>
              <span class="input-group-addon form-control">
              <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="date-hour text-center">
          <div class="date-hour-away invisible goaway">
            <h3>Quel créneau horaire ?</h3>
            <p>Vous avez choisi "à emporter"</p>
            <p> Indiquez le créneau horaire dans lequel vos clients devront récupérer leur commande. Vous devrez leur remettre en main propre. </p>
            <p>Vous receverez votre paiement une fois la réception validée.</p>
            <div class="form-group" align= "center">
              <div class='input-group date' id='datetimepicker4'>
                <%= f.input :start_hour, as: :string, label: false, class: 'form-control' %>
                <span class="input-group-addon form-control">
                <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
            <div class="form-group" align= "center">
              <div class='input-group date' id='datetimepicker5'>
                <%= f.input :end_hour, as: :string, label: false, class: 'form-control' %>
                <span class="input-group-addon form-control">
                <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="date-hour-home invisible gohome text-center">
            <h3>A quelle heure recevez vous</h3>
            <p>Vous avez choisi "sur place" </br>Vos convives dégusterons votre menu, avec vous à votre table :)</p>
            <p> Indiquez à vos invités l'heure à laquelle ils devront se présenter à votre domicile</p>
            <p> Ils valideront le paiement une fois arrivés chez vous.</p>
            <div class="form-group" align= "center">
              <div class='input-group date' id='datetimepicker6'>
                <%= f.input :home_hour, as: :string, label: false, class: 'form-control' %>
                <span class="input-group-addon form-control">
                <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= f.input :validation, as: :hidden, input_html: { value: false } %>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="important">
        <h3 class= "text-center">Important</h3>
        <p  class= "text-center">Pepeat vérifie les informations de votre menu avant publication</p>
        <b><p> Assurez vous de bien vérifier :</p></b>
        <p> - Que vous avez renseigné tous les champs</p>
        <p> - Que vous avez inscrit la totalité des ingrédients composant votre menu</p>
        <p> - Que le prix soit cohérent</p>
        <p> - Que vous avez renseigné la bonne date et heure</p>
        <div class= "text-center important-submit">
          <%= f.button :submit, " Je valide les informations", class: "btn-lg btn-pepeat" %>
        </div>
      </div>
    </div>
  </div>
</div>


<% end %>






