<div class="meals">
  <div class= <%= "location-#{meal.user.id}" %>>
    <div class="meals-header">
      <div class= "carousel">
        <% if meal.meal_pictures.count != 0 %>
          <% meal.meal_pictures.each do |picture| %>
            <%= link_to meal_path(meal) do %>
              <div class= "item-slick"> <%= image_tag picture.picture.url(:large),class: "img-carousel hvr-fadeIn hvr-grow"%> </div>
            <% end %>
          <% end %>
        <% else %>
          <%= image_tag 'special', class: "img-carousel hvr-fadeIn hvr-grow" %>
        <% end %>
      </div>
      <div class="meals-header-away">
        <% if meal.home? %>
          <h3 class= "text-center">Diner chez le Pepeato</h3>
        <% else %>
          <h3 class= "text-center">À emporter</h3>
        <% end %>
      </div>
      <div class="meals-header-price">
        <%= meal.price %>€
      </div>
      <div class="meals-header-date">
        <%= l(meal.day, format: '%A %d/%m')%>
      </div>
      <div class="meals-header-pic">
        <%= link_to publics_path(meal.user) do %>
          <%=image_tag meal.user.picture.url(:medium), class: "img-circle img-chef-meal" %>
        <% end %>
      </div>
    </div>
    <div class="meals-body">
      <div class="meals-body-menu">
        <div class="meals-body-menu-title">
          <%= link_to meal_path(meal) do %>
            <h3 class= "text-center"><%= meal.title %></h3>
          <% end %>
        </div>
        <% if meal.starter? %>
          <div class= "meals-body-menu-starter">
            <div class= "meals-body-menu-starter-element">
              <b>Entrée: </b> <i> <%= meal.starter %></i>
            </div>
          </div>
        <% else %>
          <div class= "meals-body-menu-starter">
            <div class= "meals-body-menu-starter-element">
             <span><i>Pas d'entrée proposée</i></span>
            </div>
          </div>
        <% end %>
        <% if meal.main? %>
          <div class= "meals-body-menu-starter">
            <div class= "meals-body-menu-starter-element">
              <b>Plat: </b><i><%= meal.main %></i>
            </div>
          </div>
        <% else %>
          <div class= "meals-body-menu-starter">
            <div class= "meals-body-menu-starter-element">
              <span><i>Pas de plat principal proposé</i></span>
            </div>
          </div>
        <% end %>
        <% if meal.dessert? %>
          <div class= "meals-body-menu-starter">
            <div class= "meals-body-menu-starter-element">
              <b>Dessert: </b><i><%= meal.dessert %></i>
            </div>
          </div>
        <% else %>
          <div class= "meals-body-menu-starter">
            <div class= "meals-body-menu-starter-element">
              <span><i>Pas de dessert proposé</i></span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="meals-body-takeaway text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <% if meal.home? %>
              <div>
                <%= image_tag 'home2.png', class: "img-take hover", title: "Diner chez le chef" %>
              </div>
              <div class="meals-body-takeaway-hour">
                <p><i><%= meal.home_hour.strftime('%Hh:%M') %> chez le chef</i></p>
              </div>
            <% else %>
              <div>
                <%= image_tag 'take.png', class: "img-take hover", title: "A emporter chez soi" %>
              </div>
              <div class="meals-body-takeaway-hour">
                <p><i><%= meal.start_hour.strftime('%Hh:%M')%> <%= meal.end_hour.strftime('à %Hh:%M') %></i></p>
              </div>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class= "meals-body-takeaway-portion hover">
              <% if meal.home?%>
                <span class= "size-txt-portion"><%= available_portions(meal)%></span> <span class= "size-portion"><p>places disponibles</p></span>
              <% else %>
                <span class= "size-txt-portion"><%= available_portions(meal)%></span> <span class= "size-portion"><p>parts disponibles</p></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="meals-body-footer">
        <% if  DateTime.now.day == meal.day.day &&((meal.takeaway && format(meal.start_hour)) || (meal.home && format(meal.home_hour))) || available_portions(meal) == 0 %>
          <%= link_to "Voir le menu", meal_path(meal), class: "btn btn-success buton-order" %>
        <% elsif DateTime.now.to_date> meal.day %>
          <%= link_to "Voir le menu", meal_path(meal), class: "btn btn-success buton-order" %>
        <% else %>
          <% if current_user == meal.user %>
            <% if meal.orders.count == 0 %>
              <%= link_to 'Modifier mon annonce', edit_profile_meal_path(meal), class: "btn btn-success buton-order" %>
            <% end %>
          <% elsif (meal.day.to_date - DateTime.now.to_date).to_i > 6  %>
            <div class= "hover" title= "Vous ne pouvez pas commander plus de 7 jours avant">
              <%= link_to 'Réservation bientôt disponible', "#", class: "disabled btn btn-success buton-order" %>
            </div>
          <% else %>
            <div class="meals-body-order">
              <%= render "/shared/modale", meal: meal %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>




