<div class="footer">
  <div class="container">
    <div class="footer-infos text-center">
      <div class="row">
        <div class="col-xs-4">
          <h1>Pepeat</h1>
          <p><%= link_to 'Inscription', new_user_registration_path %></p>
          <p><%= link_to 'Connexion', new_user_session_path %></p>
        </div>
        <div class="col-xs-4">
          <h1>Legal</h1>
          <p><%= link_to 'CGU', '#' %></p>
          <p><%= link_to 'Mentions légales', '#' %></p>
          <p><%= link_to 'Chartre de confidentialité', '#' %></p>
        </div>
        <div class="col-xs-4">
          <h1>Cuisiniers</h1>
          <p><%= link_to 'Rejoignez Pepeat', page_path('chief_infos') %></p>
          <p><%= link_to 'FAQ', faq_publics_path, :target => "_blank" %></p>
          <p><%= link_to 'Tutoriel photos', photo_publics_path, :target => "_blank" %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-4 col-sm-1 col-sm-offset-5">
        <div class= "footer-social text-center">
          <%= link_to "https://www.facebook.com/PepeatLaCusineDeVosVoisinsDansVotreAssiette/", :target => "_blank" do %>
            <div class= "footer-social-item hvr-grow" >
              <i class="fa fa-facebook footer-social-item-fafa"></i>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-1">
        <div class= "footer-social text-center">
          <%= link_to "https://twitter.com/pepeat_cuisine",:target => "_blank" do %>
            <div class= "footer-social-item hvr-grow" >
              <i class="fa fa-twitter footer-social-item-fafa"></i>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-1">
        <div class= "footer-social text-center">
          <%= link_to "https://www.instagram.com/pepeat_cuisine/", :target => "_blank" do %>
            <div class= "footer-social-item hvr-grow" >
              <i class="fa fa-instagram footer-social-item-fafa"></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class= "text-center">
      <h1>Réalisé à Lille avec <i class="fa fa-heart"></i> par les équipes de Pepeat</h1>
      <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    </div>
  </div>
</div>



