<a data-toggle="modal" data-target="#booked_user-<%=order.id%>">
  <% if order.payment_validation == true %>
    <span class= "img-modale-cuisine">
      <%= image_tag order.user.picture.url(:medium),role:"button", class: "img-circle picture-offer-validate"%>
      <i class="fa fa-check-circle check-position"></i>
    </span>
  <% else %>
    <span class="img-modale-cuisine">
      <%= image_tag order.user.picture.url(:medium),role:"button", class: "img-circle picture-offer-invalidate"%>
      <span class="badge"><%= order.portion%></span>
    </span>
  <% end %>
</a>

<div class="modal fade" id="booked_user-<%=order.id%>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><%=order.user.firstname%> <%=order.user.lastname%></h4>
        <%= image_tag order.user.picture.url(:medium), class: "img-circle img-modale" %>
      </div>
        <div class="modal-body">
          <div class= "modale-user">
            <div class= "modale-user-element">
              <i class="fa fa-cutlery awesome"></i> <%= order.portion %> menu(s)
            </div>
            <div class= "modale-user-element">
              <i class="fa fa-mobile awesome"></i><%= order.user.phone_number %>
            </div>
            <% if order.payment_validation == true %>
              <div class= "modale-user-element">
                <div class="modale-user-element-validate">
                  <p><i class="fa fa-check awesome"></i> Reception de la commande validée</p>
                </div>
              </div>
            <% else %>
              <div class= "modale-user-element">
                <div class="modale-user-element-nonvalidate">
                  <p><i class="fa fa-times awesome"></i> N'a pas encore validé la reception de la commande</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div><!-- /.modal -->
