<div class="modal fade" id="booking-<%=meal.id%>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Choisissez le nombre de menus</h4>
      </div>
      <%= simple_form_for [meal, @order], url: profile_orders_path do |f| %>
        <div class="modal-body text-center">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              <%= image_tag 'pepeat.png', class: "modal-body-logo" %>
              <div class= "">
                <%= f.input :portion, label: false,required: false, collection: 1..available_portions(meal), input_html: {class: "input-lg"}, prompt: "aucun menu choisi" %>
              </div>
              <%= f.input :meal_id, as: :hidden, :input_html => { :value => meal.id }%>
              <%= f.input :amount, as: :hidden, :input_html => { :value => meal.price } %>
              <%= f.input :state, as: :hidden,  :input_html => { :value => 'pending' }%>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button> -->
          <div class= "text-center">
            <%= f.button :submit, value: 'Réserver maintenant', label: 'Réserver maintenant', class: "btn btn-success" %>
          </div>
        </div><!-- /.modal-content -->
      <% end %>
    </div><!-- /.modal-dialog -->
  </div>
</div><!-- /.modal -->

<div>
  <a data-toggle="modal" data-target="#booking-<%=meal.id%>">
    <b class= "btn btn-success buton-order" id="order-click">Je commande ce menu</b>
  </a>
</div>

<script type="text/javascript">
  var link = document.getElementById('order-click');
  analytics.trackLink(link, 'I purchase this menu');
</script>




