
  <a data-toggle="modal" data-target="#croppable-<%=picture.id%>">
    <b class= "btn btn-success buton-order">modifier</b>
  </a>



<div class="modal fade" id="croppable-<%=picture.id%>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cropper votre photo</h4>
      </div>
        <%= simple_form_for picture, url: profile_chief_picture_path(picture) do |f| %>
          <%= f.cropbox :chiefpicture, :width => 300 %>
          <%= f.button :submit, "Je valide mon profil", class: "btn-lg btn-pepeat" %>
        <% end %>
    </div><!-- /.modal-dialog -->
  </div>
</div><!-- /.modal -->
