<div class="margin">
  <div class="meal">
    <div class="meal-header">
      <div class= "carousel">
        <% meal.meal_pictures.each do |picture| %>
          <%= link_to meal_path(meal) do %>
            <div> <%= image_tag picture.picture.url(:extralarge), class: "img-carousel"%> </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="meal-body">
      <div class="meal-body-menu-first">
        <%= image_tag 'starter.png', class: "img-menu-show-meal" %>
        <div class= "meal-body-menu-first-element">
          <%= meal.starter %>
        </div>
      </div>
      <div class="meal-body-menu">
        <%= image_tag 'main.png', class: "img-menu-show-meal" %>
        <div class= "meal-body-menu-element">
          <%= meal.main %>
        </div>
      </div>
      <div class="meal-body-menu">
        <%= image_tag 'dessert.png', class: "img-menu-show-meal" %>
        <div class= "meal-body-menu-element">
          <%= meal.dessert %>
        </div>
      </div>
      <div class="meal-body-description">
        <h3 class= "text-center"> A propos du menu </h3>
        <%= meal.description.html_safe %>
      </div>
    </div>
  </div>
</div>
