<div class= "banner-video">
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
        <video autoplay loop class="fillWidth">
          <source src="<%=video_path("cover/cover.mp4")%>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      <div class="poster hidden">
        <img src="<%=video_path("cover/cover.jpg")%>" alt="Plats maisons à emporter">
      </div>
      <div class="banner-content text-center">
      <%= image_tag 'pepeat_christmas', class: "size-pepeat" %>
      <h2>La cuisine de vos voisins dans votre assiette, en un clic !</h2>
      </div>
      <% if current_user && current_user.chief %>
        <div class= "banner-soon">
          <%= image_tag 'cuisinier.png'%>
        </div>
      <% else %>
        <div class= "banner-soon">
          <%= image_tag 'vendre.png'%>
        </div>
      <% end %>
      <div class= "signup-home">
        <% if !current_user %>
          <div class= "home-signup text-center su">
            <h3>Créer un compte</h3>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <%= f.input :email, label: false, required: false, autofocus: true, class: "form-control", placeholder: "Email" %>
              <%= f.input :password, required: false, label: false, placeholder: "Mot de passe" %>
              <div class= "text-center">
                <%= f.button :submit, t('.sign_up', default: "S'inscrire"), class: "btn btn-pepeat form-control" %>
              </div>
              <% if params[:boom] %>
                <%= f.input :chief, as: :hidden, input_html: { value: true }, class: "form-control" %>
              <% end %>
            <% end %>
            <p><%=link_to 'Se connecter', 'javascript:;', id:"su-trigger" %></p>
          </div>
          <div class= "home-signup text-center hidden-form si">
            <h3>Se connecter</h3>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :email, label: false, required: false, autofocus: true, placeholder: "Email" %>
              <%= f.input :password, required: false, label: false, placeholder: "Mot de passe" %>
              <div class= "text-center">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class= "text-center">
                <%= f.button :submit, t(".sign_in", default: "Se connecter"), class: "btn btn-pepeat form-control" %>
              </div>
            <% end %>
            <p><%=link_to 'Créer un compte', 'javascript:;', id: "si-trigger" %></p>
          </div>
        <% end %>
      </div>
      <div class= "banner-button">
        <%= link_to 'Voir les menus', meals_path, class: "btn-lg btn-pepeat2 hvr-grow", id:"banner-action" %>
      </div>
      <!-- <div class="countdown text-center">
        <span>Passez votre 1ère commande dans</span>
        <div id="countdown"> <span>Jour</span></div>
      </div> -->
    </div>
  </div>
</div>

<div id= "banner-xs">
  <div class= "overlay-home">
    <div class= "content text-center">
      <%= image_tag 'pepeat_christmas', class: "size-pepeat" %>
      <h2>La cuisine de vos voisins dans votre assiette, en un clic !</h2>
      <div class= "xs-lille">
        <h3>À Lille</h3>
      </div>
      <div class= "banner-xs-button">
        <%= link_to 'Voir les menus', meals_path, class: "btn btn-pepeat2", id:"banner-action" %>
      </div>
    </div>
  </div>
</div>

<div class="home-infos text-center">
  <div class="container">
    <div class="row">
      <h1 class= "text-center home-title">Comment ça marche ?</h1>
      <div class="col-xs-12 col-sm-4">
        <div class= "home-infos-element hvr-fade hvr-grow">
          <i class="fa fa-search fa-4x home-infos-element-fafa"></i>
        </div>
        <h2>Selectionnez</h2>
        <p>Choisissez parmi une large sélection, le plat fait maison de vos rêves cuisiné par un passionné à proximité. </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class= "home-infos-element hvr-fade hvr-grow">
          <i class="fa fa-shopping-cart fa-4x home-infos-element-fafa"></i>
        </div>
        <h2>Commandez</h2>
        <p>Réservez et payez votre menu en toute sécurité. Suivez vos réservations et accédez aux informations du Pepeato. </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class= "home-infos-element hvr-fade hvr-grow">
          <i class="fa fa-hand-o-right fa-4x home-infos-element-fafa"></i>
        </div>
        <h2>Récupérez</h2>
        <p>Rendez vous chez le Pepeato à la date et l'heure prévue. Récupérez votre menu en main propre et profitez en pour échanger avec ce dernier.</p>
      </div>
    </div>
    <div class="row  home-infos-button">
      <div class= "col-xs-12">
        <%= link_to 'Voir les menus', meals_path, class: "btn-lg btn-pepeat" %>
      </div>
    </div>
  </div>
</div>


<div class="us">
  <h1 class= "text-center home-title">Pourquoi Pepeat ?</h1>
  <div class="container">
    <div class="row disposition-row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="us-img text-center">
          <%= image_tag 'economique.jpg', class: "us-img-size" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="us-txt">
          <h1> Des menus de qualités</h1>
          <p>Pepeat, c'est une alternative innovante pour se procurer des plats de qualité frais et variés. </p>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <span class="us-txt-element hvr-fade hvr-grow">
                <i class="fa fa-cutlery fa-1x us-txt-element-fafa"></i>
              </span>
              <span>Menus diversifiés</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <span class="us-txt-element hvr-fade hvr-grow">
                <i class="fa fa-thumbs-o-up fa-1x us-txt-element-fafa"></i>
              </span>
              <span>La qualité au rendez-vous.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row disposition-row">
      <div class= "hidden-sm">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="us-txt">
            <h1 class= "text-center">Des cuisiniers de confiance</h1>
            <p class= "decalage">Des passionnés de votre quartier sélectionnés par Pepeat vous proposent des plats à déguster sur place ou à emporter.</p>
            <div class= "text-center">
              <span class="us-txt-element hvr-fade hvr-grow">
                <i class="fa fa-check fa-1x us-txt-element-fafa"></i>
              </span>
              <span>Pepeato validé</span>
              <span class="us-txt-element hvr-fade hvr-grow">
                <i class="fa fa-heart fa-1x us-txt-element-fafa"></i>
              </span>
              <span>Pepeato passionné</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="us-img">
          <%= image_tag 'confiance.jpg', class: "us-img-size" %>
        </div>
      </div>
      <div class= "hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="us-txt">
            <h1 class= "text-center">Des cuisiniers de confiance</h1>
            <p class= "decalage">Des passionnés de votre quartier sélectionnés par Pepeat vous proposent des plats à déguster sur place ou à emporter.</p>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <span class="us-txt-element hvr-fade hvr-grow">
                  <i class="fa fa-check fa-1x us-txt-element-fafa"></i>
                </span>
                <span>Pepeato validé</span>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                 <span class="us-txt-element hvr-fade hvr-grow">
                  <i class="fa fa-heart fa-1x us-txt-element-fafa"></i>
                </span>
                <span>Pepeato passionné</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row disposition-row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="us-img text-center">
          <%= image_tag 'qualite.jpg', class: "us-img-size" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="us-txt">
          <h1>Des économies</h1>
          <p>30 à 40% moins cher qu'en restaurant, Pepeat vous offre un service économique. N'hésitez plus à bien manger.</p>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <span class="us-txt-element hvr-fade hvr-grow">
                <i class="fa fa-money fa-1x us-txt-element-fafa"></i>
              </span>
              <span>Faîtes des économies</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
               <span class="us-txt-element hvr-fade hvr-grow">
                <i class="fa fa-calendar-o fa-1x us-txt-element-fafa"></i>
              </span>
              <span>Un service quotidien</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background-home-chief window-height">
  <div class="overlay">
    <div class="background-home-chief-title text-center">
      <h3>Devenez Pepeato* dès maintenant</h3>
      <p>Votre cuisine, vos horaires et une belle opportunité de rémunérer votre passion.</p>
      <%= link_to 'Devenir Pepeato', page_path('chief_infos'), class: "btn btn-lg btn-pepeat"%>
    </div>
    <div class="background-home-chief-alias">
      <p>Pepeato* = Chef Pepeat :)</p>
    </div>
  </div>
</div>


<div id="bg-meals">
  <h1 class= "home-title text-center">Les menus disponibles</h1>
  <div class="container">
    <div class="row">
      <% z = 0.0 %>
      <% @meals.order(day: :asc).each do |meal| %>
        <% if meal.validation? && meal_actual(meal) %>
          <% z += 1.0 %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="meals-home">
              <div class="meals-home-header">
                <div class= "carousel">
                  <% meal.meal_pictures.each do |picture| %>
                    <%= link_to meal_path(meal) do %>
                      <div> <%= image_tag picture.picture.url(:medium), class: "img-carousel"%> </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="meals-home-header-away">
                  <% if meal.home?%>
                    <h3 class= "text-center">Diner chez le Pepeato</h3>
                  <% else %>
                    <h3 class= "text-center">À emporter</h3>
                  <% end %>
                </div>
              </div>
              <div class="meals-home-body">
                <div class="meals-home-body-price">
                  <%= meal.price %>€
                </div>
                <div class="meals-home-body-date">
                  <%= l(meal.day, format: '%A %d/%m')%>
                </div>
                <div class="meals-home-body-pic">
                  <%= image_tag meal.user.picture.url(:thumb), class: "img-circle home-pic" %>
                </div>
              </div>
            </div>
          </div>
          <% if (z / 3.0).is_a? Integer%>
            <div class="clearfix"></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<% if current_user && current_user.sign_in_count == 1 %>
  <script type="text/javascript">
    analytics.alias(<%= current_user.id %>);
    analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
    analytics.track('Sign up');
  </script>
<% elsif current_user %>
  <script type="text/javascript">
    analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
  </script>
<% end %>


<script type="text/javascript">
  analytics.track('Home')
</script>


<script type="text/javascript">
  var link = document.getElementById('banner-action');
  analytics.trackLink(link, 'Banner clicked voir les menus');
</script>


<script type="text/javascript">
  var link = document.getElementById('si-trigger');
  analytics.trackLink(link, 'signup-home');
</script>







