
<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <video autoplay loop class="fillWidth">
      <source src="<%=video_path("cover/cover.mp4")%>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  <div class="poster hidden">
    <img src="<%=video_path("cover/cover.jpg")%>" alt="Plats maisons à emporter">
  </div>
</div>


<div class="banner-content text-center">
  <%= image_tag 'pepeat-title', class: "size-pepeat" %>
  <h2>Le fait maison à votre disposition</h2>
  <h3>La cuisine de vos voisins dans votre assiette, en un clic !</h3>
</div>

<div class= "banner-button">
  <%= link_to 'Voir les menus sur Lille', meals_path, class: "btn-lg btn-pepeat-soft" %>
</div>
<script type="text/javascript">
    mixpanel.track("Voir les menus sur Lille");
</script>

<div class="home-infos text-center">
  <div class="container">
    <div class="row">
      <h1 class= "text-center home-title">Comment ça marche</h1>
      <div class="col-xs-12 col-sm-4">
        <div class= "home-infos-element hvr-fade hvr-grow">
          <i class="fa fa-search fa-4x home-infos-element-fafa"></i>
        </div>
        <h2>Selectionnez</h2>
        <p>Trouvez le ou les menu(s) qui vous plaisent parmi les réalisations des chefs Pepeat </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class= "home-infos-element hvr-fade hvr-grow">
          <i class="fa fa-shopping-cart fa-4x home-infos-element-fafa"></i>
        </div>
        <h2>Commandez</h2>
        <p>Payez de façon sécurisée en ligne en 2 clicks. Vous pouvez consultez en temps réel votre réservation et les informations associées</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class= "home-infos-element hvr-fade hvr-grow">
          <i class="fa fa-thumbs-o-up fa-4x home-infos-element-fafa"></i>
        </div>
        <h2>Récupérez</h2>
        <p>Récupérez votre menu chef le chef. Profitez en pour échanger avec lui et rencontrer les autres gourmets qui récupèrent leurs commandes </p>
      </div>
    </div>
    <div class="row  home-infos-button">
      <div class= "col-xs-12">
        <%= link_to 'Voir les menus', meals_path, class: "btn-lg btn-pepeat" %>
      </div>
    </div>
  </div>
</div>


<div class="us">
  <h1 class= "text-center home-title">Pourquoi Pepeat ?</h1>
  <div class="container">
    <div class="row disposition-row">
      <div class="col-xs-12 col-sm-6">
        <div class="us-img text-center">
          <%= image_tag 'unexpensive.jpg', class: "us-img-size" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="us-txt">
          <h1>Des économies</h1>
          <p>Les plats cuisinés par les chefs Pepeat sont en moyenne 30% moins chers qu'au restaurant et d'une qualité professionnelle.</p>
          <span class="us-txt-element hvr-fade hvr-grow">
            <i class="fa fa-cutlery fa-1x us-txt-element-fafa"></i>
          </span>
          <span>Des plats de qualité</span>
          <span class="us-txt-element hvr-fade hvr-grow">
            <i class="fa fa-money fa-1x us-txt-element-fafa"></i>
          </span>
          <span>Faîtes des économies</span>
        </div>
      </div>
    </div>
    <div class="row disposition-row">
      <div class="col-xs-12 col-sm-6">
        <div class="us-txt">
          <h1 class= "text-center">Des cuisiniers de confiance</h1>
          <p class= "decalage">Les cuisiniés sont des passionnés sélectionnés par nos soins. Vous êtes certain à 100 % d'avoir de la qualité dans votre assiette.</p>
          <div class= "text-center">
            <span class="us-txt-element hvr-fade hvr-grow">
              <i class="fa fa-check fa-1x us-txt-element-fafa"></i>
            </span>
            <span>Chef validé</span>
            <span class="us-txt-element hvr-fade hvr-grow">
              <i class="fa fa-heart fa-1x us-txt-element-fafa"></i>
            </span>
            <span>Chef passionné</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="us-img">
          <%= image_tag 'trust.jpg', class: "us-img-size" %>
        </div>
      </div>
    </div>
    <div class="row disposition-row">
      <div class="col-xs-12 col-sm-6">
        <div class="us-img text-center">
          <%= image_tag 'connected.jpg', class: "us-img-size" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="us-txt">
          <h1>Commandez en 3 clics</h1>
          <p>Les prix, quantités et menus sont très clairs. Vous avez juste à venir chercher votre repas chez le chef ou le déguster en sa compagnie. </p>
          <span class="us-txt-element hvr-fade hvr-grow">
            <i class="fa fa-fighter-jet fa-1x us-txt-element-fafa"></i>
          </span>
          <span>Commande rapide</span>
          <span class="us-txt-element hvr-fade hvr-grow">
            <i class="fa fa-level-up fa-1x us-txt-element-fafa"></i>
          </span>
          <span>Rendez vous chez le chef</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="bg-meals">
  <h1 class= "home-title text-center">Les repas à côté de chez vous</h1>
  <div class="container">
    <div class="row">
      <% @meals.each do |meal| %>
        <% if meal.validate && meal_actual(meal) %>
          <div class="col-xs-12 col-sm-4">
            <div class="meals-home">
              <div class="meals-home-header">
                <div class= "carousel">
                  <% meal.meal_pictures.each do |picture| %>
                    <%= link_to meal_path(meal) do %>
                      <div> <%= image_tag picture.picture.url(:medium), class: "img-carousel"%> </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="meals-home-header-away">
                  <% if meal.home?%>
                    <h3 class= "text-center">Diner chez le chef</h3>
                  <% else %>
                    <h3 class= "text-center">A emporter</h3>
                  <% end %>
                </div>
              </div>
              <div class="meals-home-body">
                <div class="meals-home-body-price">
                  <%= meal.price %>€
                </div>
                <div class="meals-home-body-date">
                  <%= l(meal.day, format: '%A %d/%m')%>
                </div>
                <div class="meals-home-body-pic">
                  <%= image_tag meal.user.picture.url(:thumb), class: "img-circle home-pic" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

