<div class="banner-ouishare">

</div>

<div class= "text-center share-header">
  <span>Le 21 avril, devenez Super Pepeato et cuisinez depuis chez vous pour le</span><%= image_tag 'http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/453596/LOGO-SARING-LILLE-01_rtrt3c.png', class: "share-header-logo" %>
  <span>by</span>
  <%= image_tag 'ouishare_logo', class: "share-header-logo" %>
  <div>
    <p>Avis de recherche :</p>
    <h2>10 Pepeato en quête d'aventure pour un événement unique !</h2>
  </div>
</div>

<div class="share-body text-center">
  <div class="container">
    <b><h1>L'événement</h1></b>
    <h3>SharingLille est un événement organisé par OuiShare, la référence de l'économie collaborative. Il rassemble 1000 participants autour du partage et de la collaboration pour une rencontre avec celles et ceux qui contribuent à inventer la société de demain. </h3>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="share-body-card">
          <div class="share-body-card-header">
            <%= link_to 'http://www.sharinglille.com/',:target => "_blank" do %>
              <%= image_tag 'ouishare-left' %>
            <% end %>
          </div>
          <div class="share-body-card-body">
          <%= link_to "Voir plus sur SharingLille", 'http://www.sharinglille.com/',:target => "_blank", class: "btn buton-order" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="share-body-card">
          <div class="share-body-card-header">
            <%= link_to 'http://ouishare.net/fr',:target => "_blank" do %>
              <%= image_tag 'ouishare-right' %>
            <% end %>
          </div>
          <div class="share-body-card-body">
            <%= link_to "Voir plus sur OuiShare", 'http://ouishare.net/fr',:target => "_blank", class: "btn buton-order" %>
          </div>
        </div>
      </div>
    </div>
    <p>Le 21 Avril 2016 à Euratechnologies</p>
  </div>
</div>


<div class="explain-container text-center">
  <b><h1>Pourquoi participer ?</h1></b>
  <div class="explain foo">
    <div class="row">
      <div class="col-xs-12">
        <div class="explain-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="explain-card-left">
                <b><h2>En deux mots</h2></b>
                <h3>Pepeat et la Ruche Qui Dit Oui deviennent partenaires</h3>
                <p>Ouishare organise le festival SharingLille à Euratechnologies et fait appel au duo Pepeat - La Ruche Qui Dit Oui pour régaler les participants.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="explain-card-right">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="explain foo">
    <div class="row">
      <div class="col-xs-12">
        <div class="explain-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="explain-card-left">
                <b><h2>Les Pepeato dans tout ça?</h2></b>
                <h3>Chaque Pepeato cuisine pour 20 personnes</h3>
                <p>Les Super Pepeato sont les chefs de la journée. Chaque Pepeato cuisinera, depuis chez lui, une marmite pour 20 participants. Il n'aura plus qu'à présenter sa réalisation le jour de l'événement pendant que les bénévoles se chargeront du service.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="explain-card-right2">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="explain foo">
    <div class="row">
      <div class="col-xs-12">
        <div class="explain-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="explain-card-left">
                <b><h2>La Ruche Qui Dit Oui</h2></b>
                <h3>Des produits locaux de qualités</h3>
                <p>LRQDO est le réseau de producteurs responsables regroupés en rûches. Vous commandez et achetez les meilleurs produits de votre région auprès d'une ruche près de chez vous.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="explain-card-right3">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="explain foo">
    <div class="row">
      <div class="col-xs-12">
        <div class="explain-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="explain-card-left">
                <b><h2>Cerise sur le gateau : 200€</h2></b>
                <h3>Probablement la matinée la plus rentable de votre vie.</h3>
                <p>Vous sauterez de joie à l'idée de gagnez de l'argent tout en pratiquant votre passion. Et oui, c'est comme ça avec Pepeat !</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="explain-card-right4">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="efonction text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 bar">
        <%= image_tag 'course' %>
        <h1>Ou faire vos courses ?</h1>
        <p> Faites vos courses avec La Ruche Qui Dit Oui. Cuisinez une marmite pour 20 convives, à base de produits locaux. </p>
      </div>
      <div class="col-xs-12 col-sm-4 bar">
        <%= image_tag 'cuisine' %>
        <h1>Quand cuisiner ? </h1>
        <p> Vous cuisinez de chez vous la veille de l'événement. La préparation est libre, à vous d'être créatif !  </p>
      </div>
      <div class="col-xs-12 col-sm-4 bar">
        <%= image_tag 'event' %>
        <h1>Et le jour J ? </h1>
        <p> Le 21 avril vous arrivez à 9h30 à Euratechnologies avec votre préparation que vous présenterez à vos convives à 12h30. </p>
      </div>
    </div>
  </div>
</div>

<div class="share-infos text-center">
  <div class="container">
    <div class="share-infos-card">
      <%= image_tag 'pepeat-circle', class: "img-circle pepeat-circle" %>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="share-infos-card-img">
            <h4>Qui de vous saura impressionner sa table ? </h4>
            <h3>Communauté Pepeato</h3>
            <% @pepeatos.each do |pepeato| %>
                <%= image_tag pepeato.picture.url(:medium), class: 'img-circle hvr-fadeIn hvr-grow' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="share-form text-center">
  <div class="container">
    <h1>Intéressé ? Inscrivez vous pour cette aventure avec Pepeat !</h1>
    <div class="row">
      <div class="share-form-card">

        <%= link_to "Je suis intéressé", update_user_events_path, class: "btn btn-lg btn-pepeat2"%>
      </div>
      <p>Nous reviendrons très vite vers vous pour l'organisation !</p>
    </div>
  </div>
</div>

<div class="participant text-center">
  <div class="container">
    <div class="row">
      <% if User.where(ouishare: true).count == 0 %>
      <% else %>
        <h1>Participants</h1>
        <% User.where(ouishare: true).each do |user| %>
          <div class="col-xs-6 col-xs-offset-3">
            <%= link_to publics_path(user) do %>
              <%= image_tag user.picture.url(:medium), class: "img-circle hvr-fadeIn hvr-grow" %>
            <% end %>
            <span>Pepeato <%= user.surname %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="partner text-center">
  <div class="container">
    <b><h1>En partenariat avec</h1></b>
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag 'ouishare_logo' %>
      </div>
      <div class="col-xs-6">
        <%= image_tag 'ruche_logo' %>
      </div>
    </div>
  </div>
</div>



<% if current_user %>
  <script type="text/javascript">
    analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
    analytics.track('SharingLille');
  </script>
<% else %>
  <script type="text/javascript">
    analytics.track('SharingLille');
  </script>
<% end %>

