<div id= "banner" class= "background-banner" >
  <div class= "overlay">
    <div class= "content text-center">
      <h3>Pepeato</h3>
      <h1>Partagez votre passion de la cuisine et vendez vos menus avec Pepeat</h1>
       <div class= "text-center button-chief">
        <%= link_to "Je deviens Pepeato", edit_profile_path(chief: true), class: "btn-lg btn-pepeat2", id: "Pepeato action create" %>
      </div>
      </div>
    </div>
  </div>
</div>


<div id= "infos" class="infos-chief text-center">
  <h2 class= "text-center">Qu'est ce qu'un Pepeato ?</h2>
  <div class="container">
    <div class="row organisation-row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag 'chef-maison' %>
        <!-- <div class= "position-sticker">
          <div class="sticker statut" data-sr='enter left over 1.3s scale up 20% reset'>
          </div>
        </div> -->
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class= "description-chief text-center">
          <h1> Tout le monde peut devenir Pepeato à condition d'être passionné de cuisine !</h1>
          <p><b>Amateur :</b> Vous êtes créatif aux fourneaux, vous aimez cuisiner et passer du temps à préparer des bons plats ? Devenez Pepeato et partagez votre passion en vendant vos menus à votre voisinnage.</p>
          <p><b>Professionel :</b> Devenez Pepeato et profitez d'un réseau de clients curieux pour tester vos nouvelles recettes et vendre vos réalisations. </p>
          <p><b>Étudiant en restauration : </b> Devenir Pepeato vous permettra de tester votre talent et d'alléger vos frais de cuisine.</p>
        </div>
      </div>
    </div>
    <div class="row organisation-row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag 'chef-domicile' %>
        <!-- <div class= "position-sticker">
          <div class="sticker passion" data-sr='enter left over 1.3s scale up 20% reset'>
          </div>
        </div> -->
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class= "description-chief text-center">
          <h1> Un Pepeato est sociable, curieux et passionné</h1>
          <p>Les Pepeato forment une communauté de passionnés de gastronomie qui ramènent les plats faits maison au goût du jour. Pour cela il faut évidemment cuisiner mais aussi être sociable et curieux de rencontrer son voisinnage. Les Pepeato sont les ambassadeurs Pepeat ! </p>
        </div>
      </div>
    </div>
    <div class="row organisation-row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag 'chef-cuisine' %>
       <!--  <div class= "position-sticker">
          <div class="sticker hygiene" data-sr='enter left over 1.3s scale up 20% reset'>
          </div>
        </div> -->
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class= "description-chief text-center">
          <h1> Un Pepeato veille à la qualité de ses préparations</h1>
          <p> Les Pepeato doivent garantir une qualité maximale pour leurs clients. Il/Elle cuisine dans un environnement sain et respecte les procédures classiques de cuisine. Le Pepeato ne distribue jamais un plat cuisiné la veille ! Les clients donnent leur avis sur chaque Pepeato après leurs commandes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pepeato-fonct text-center">
  <h2>Tout est simple avec Pepeat</h2>
  <h3>Vous choisissez . . . </h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="pepeato-fonct-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="pepeato-fonct-card-left">
                <b><h2> . . . quand vous cuisinez</h2></b>
                <p>Vous êtes totalement libre de cuisiner quand bon vous semble. Il vous suffit de fixer un jour et une tranche horaire et le tour est joué !</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="pepeato-fonct-card-right">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="pepeato-fonct-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="pepeato-fonct-card-left">
                <b><h2>. . . ce que vous cuisinez</h2></b>
                <p>Entrée, plat, dessert ou un menu complet. Il vous appartient de concoter ce que vous voulez, c'est votre cuisine non ? </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="pepeato-fonct-card-right2">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="pepeato-fonct-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="pepeato-fonct-card-left">
                <b><h2> . . . pour combien de personnes vous cuisinez</h2></b>
                <p>Vous avez une grande cuisine et la capacité de faire un menu pour 30 personnes, aucun problème. Vous avez peu de place et pouvez préparer un repas pour 4 personnes, toujours aucun problème.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="pepeato-fonct-card-right3">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="pepeato-fonct-card">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="pepeato-fonct-card-left">
                <b><h2> . . . le prix que vous voulez</h2></b>
                <p>C'est à vous de juger le prix de votre menu. Mais attention, s'il est trop cher, cela risque de faire fuir les potentiels clients. Pepeat conseille de fixer le prix d'un menu complet ( entrée, plat, dessert) entre 8€ et 12€.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="pepeato-fonct-card-right4">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pepeato-order text-center">
  <h3>Et vous préparez . . .</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pepeato-order-card">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="pepeato-order-card-superleft">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="pepeato-order-card-left">
                <h2> . . . votre menu en toute sérénité</h2>
                <p><i class="fa fa-check"></i>Les commandes s'arrêtent <b>4h avant</b> l'heure que vous avez fixée.</p>
                <p><i class="fa fa-check"></i>Vous faites les courses et la cuisine <b>uniquement pour les personnes qui ont commandé</b>. Pas de gachis, pas de surplus.</p>
                <p><i class="fa fa-check"></i>Vous recevez vos voisins chez vous à l'heure prévue. Pas besoin de parler d'argent, <b>le transfert est automatique</b> et arrivera dans 1 semaine sur votre compte.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="pepeato-order-card-right">

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="convaincu text-center">
  <div class="container">
    <h2>Convaincu ?</h2>
    <h3>N'attendez plus et créez votre profil en 2 minutes.</h3>
    <div class= "text-center button-chief">
      <%= link_to "Je deviens Pepeato", edit_profile_path(chief: true), class: "btn-lg btn-pepeat", id: "Pepeato action create" %>
    </div>
  </div>
</div>


<script type="text/javascript">
  analytics.track('Pepeato-infos')
</script>

<script type="text/javascript">
  var link = document.getElementById('Pepeato action create');
  analytics.trackLink(link, 'Pepeato action create');
</script>

