<div id= "banner" class= "background-banner" >
  <div class= "overlay">
    <div class= "content text-center">
      <h3>Pepeato</h3>
      <h1>Partagez votre passion de la cuisine et vendez vos menus avec Pepeat</h1>
      </div>
    </div>
  </div>
</div>


<div id= "infos" class="infos-chief">
  <h1 class= "text-center">Qu'est ce qu'un Pepeato ?</h1>
  <div class="container">
    <div class="row organisation-row">
      <div class="col-xs-12 col-sm-4">
        <div class= "position-sticker">
          <div class="sticker statut" data-sr='enter left over 1.3s scale up 20% reset'>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class= "description-chief text-center">
          <h1> Tout le monde peut devenir Pepeato à condition d'être passionné de cuisine !</h1>
          <p><b>Amateur :</b> Vous êtes créatif aux fourneaux, vous aimez cuisiner et passer du temps à préparer des bons plats ? Devenez Pepeato et partagez votre passion en vendant vos menus à votre voisinnage.</p>
          <p><b>Professionel :</b> Devenez Pepeato et profitez d'un réseau de clients curieux pour tester vos nouvelles recettes et vendre vos réalisations. </p>
          <p><b>Étudiant en restauration : </b> Devenir Pepeato vous permettra de tester votre talent et d'alléger vos frais de cuisine.</p>
        </div>
      </div>
    </div>
    <div class="row organisation-row">
      <div class="col-xs-12 col-sm-4">
        <div class= "position-sticker">
          <div class="sticker passion" data-sr='enter left over 1.3s scale up 20% reset'>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class= "description-chief text-center">
          <h1> Un Pepeato est sociable, curieux et passionné</h1>
          <p>Les Pepeato forment une communauté de passionnés de gastronomie qui ramènent les plats faits maison au goût du jour. Pour cela il faut évidemment cuisiner mais aussi être sociable et curieux de rencontrer son voisinnage. Les Pepeato sont les ambassadeurs Pepeat ! </p>
        </div>
      </div>
    </div>
    <div class="row organisation-row">
      <div class="col-xs-12 col-sm-4">
        <div class= "position-sticker">
          <div class="sticker hygiene" data-sr='enter left over 1.3s scale up 20% reset'>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class= "description-chief text-center">
          <h1> Un Pepeato veille à la qualité de ses préparations</h1>
          <p> Les Pepeato doivent garantir une qualité maximale pour leurs clients. Il/Elle cuisine dans un environnement sain et respecte les procédures classique de cuisine. Le Pepeato ne distribue jamais un plat cuisiné la veille ! Les clients donnent leur avis sur chaque Pepeato après les commandes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="choice">
  <div class="container">
    <h1 class= "text-center">Comment ça fonctionne ?</h1>
    <h3 class= "text-center">Le Pepeato choisit de distribuer les menus en mains propres à ses clients ou de recevoir ses convives à sa table.</h3>
    <div class="row">
      <div class="col-xs-6">
        <div class="card-chief-infos">
          <h1 class= "text-center">A emporter</h1>
          <div class= "text-center">
            <%= image_tag 'emporter.png', class: "size-chief-picture" %>
          </div>
          <p>- Vous cuisinez ce que vous voulez, quand vous le souhaitez.</p>
          <p>- Vous choisissez le nombre de parts que vous cuisinez par menu. De 1 à 60 parts par menu.</p>
          <p>- Vous fixez librement le prix de vos menus. Pepeat vous conseille de respecter les fourchettes définies.</p>
          <p>- Vous suivez vos commandes en temps réel dans votre espace réservé sur pepeat.org</p>
        </div>
      </div>
       <div class="col-xs-6">
        <div class="card-chief-infos">
          <h1 class= "text-center">Sur place</h1>
          <div class= "text-center">
            <%= image_tag 'chez-le-chef.png', class: "size-chief-picture" %>
          </div>
          <p>- Vous choisissez l'heure à laquelle vos invités doivent se présenter.</p>
          <p>- Vous choisissez le nombre de convives que vous souhaitez recevoir à votre table</p>
          <p>- Vous fixez librement le prix de vos menus. Pepeat vous conseille de respecter les fourchettes définies.</p>
          <p>- Vous suivez vos commandes en temps réel dans votre espace réservé sur pepeat.org</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="embed-container">
          <%= embed('https://www.youtube.com/watch?v=nQYhp6znFO0') %>
        </div>
      </div>
    </div>
  </div>
  <div id="stripe-infos">
    <div class="container">
      <h1 class= "text-center">Recevez les paiements directement sur votre compte</h1>
      <div class="row">
        <div class="col-xs-6">
          <div class="card-chief-infos text-center">
            <div class= "text-center"><%= image_tag 'stripe-logo.png' %></div>
            <%= image_tag 'credit-cards_visa', class: "card-chief-infos-img" %><%= image_tag 'credit-cards_bitcoin', class: "card-chief-infos-img" %>
            <%= image_tag 'credit-cards_maestro', class: "card-chief-infos-img" %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="stripe-solution text-center">
            <h3>La solution Stripe</h3>
            <p><i class="fa fa-check-square-o"></i> Paiement sécurisé </p>
            <p><i class="fa fa-check-square-o"></i> Recevez vos revenus une semaine après avoir vendu vos menus. </p>
            <p><i class="fa fa-check-square-o"></i> Vous avez juste besoin de votre numéro de sécurité sociale et de votre RIB</p>
          </div>
        </div>
      </div>
    </div>
    <div class= "text-center button-chief">
      <%= link_to "Je crée un profil de Pepeato", edit_profile_path(chief: true), class: "btn-lg btn-pepeat", id: "Pepeato action create" %>
    </div>
  </div>


  </div>
</div>

<script type="text/javascript">
  analytics.track('Pepeato-infos')
</script>

<script type="text/javascript">
  var link = document.getElementById('Pepeato action create');
  analytics.trackLink(link, 'Pepeato action create');
</script>

