<div class="container">
  <% @orders.each do |order|%>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="card-meal">
          <div class="card-meal-header text-center">
            <%=image_tag order.meal.user.picture.url(:medium), class: "card-meal-header-img img-circle" %>
            Chef
            <%= order.meal.user.firstname %>
            <%= order.meal.user.lastname %>
          </div>
          <div class="card-meal-body">
            <div class= "card-meal-body-menu">
              <%= image_tag 'starter', class: "card-meal-body-menu-icon" %>
              <%= order.meal.starter %>
            </div>
            <div class= "card-meal-body-menu">
              <%= image_tag 'main', class: "card-meal-body-menu-icon" %>
              <%= order.meal.main %>
            </div>
            <div class= "card-meal-body-menu">
              <%= image_tag 'dessert', class: "card-meal-body-menu-icon" %>
              <%= order.meal.dessert %>
            </div>
          </div>
          <div class="card-meal-body-map">
            <div id="map" style="width: 100%; height: 100%;"></div>
          </div>
          <div class="card-meal-footer text-center">
            <ul class= "list-inline">
              <li> <%= order.meal.price %> €</li>
              <li> <%= order.meal.day.strftime('%d/%m/%Y') %></li>
              <li><%= order.meal.start_hour.strftime('De %Hh') %></li>
              <li><%= order.meal.end_hour.strftime('à %Hh') %></li>
              <li><%= order.meal.portion %>
                <%= image_tag 'portion', class: "card-meal-footer-icon" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render '/meals/carousel', meal: order.meal %>
      </div>
    </div>
  <% end %>
</div>


<%= link_to 'Donner un avis', new_profile_rating_path, class: "btn btn-success" %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    })
  <% end %>
<% end %>
