
<% if @orders.count == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez encore jamais commander de plat chez Pepeat ! Il faut y remedier !</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Voir les plats disponibles', meals_path, class: "btn btn-pepeat btn-lg" %>
      </div>
    </div>
  </div>
<% else %>
  <% @orders.each do |order|%>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="card-history">
            <div class="card-history-pic">
              <%= image_tag order.meal.user.picture.url(:medium), class: "img-circle pichistory " %>
            </div>
            <div class="card-history-price">
              <%= totalprice(order) %>€
            </div>
            <div class="card-history-element-top">
              <%= order.meal.starter %>
            </div>
            <div class="card-history-element">
              <%= order.meal.main %>
            </div>
            <div class="card-history-element">
              <%= order.meal.dessert %>
            </div>
            <div class="card-history-element">
              Date du repas : <%= order.meal.day.strftime('%d/%m/%Y') %>
            </div>
            <div class="card-history-element-last">
              Nombre de part acheté : <%= order.portion %>
            </div>
            <div class="card-history-review">
              <% if order.review.nil? %>
                <%= link_to 'Ajouter un avis', profile_history_path(order), class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
