
<% if @orders.count == 0 %>
  <h3>Vous n'avez pas d'historique</h3>
<% else %>
  <% @orders.each do |order|%>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="card-history">
            <div class="card-history-pic">
              <%= image_tag order.meal.user.picture.url(:medium), class: "img-circle pichistory " %>
            </div>
            <div class="card-history-price">
              <%= totalprice(order) %>€
            </div>
            <div class="card-history-element-top">
              <%= order.meal.starter %>
            </div>
            <div class="card-history-element">
              <%= order.meal.main %>
            </div>
            <div class="card-history-element">
              <%= order.meal.dessert %>
            </div>
            <div class="card-history-element">
              Date du repas : <%= order.meal.day.strftime('%d/%m/%Y') %>
            </div>
            <div class="card-history-element-last">
              Nombre de part acheté : <%= order.portion %>
            </div>
            <div class="card-history-review">
              <% if order.review.nil? %>
                <%= link_to 'Ajouter un avis', profile_history_path(order), class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
