 <div class="meals">
  <div class="meals-header">
    <div class= "carousel">
      <% meal.meal_pictures.each do |picture| %>
        <%= link_to meal_path(meal) do %>
          <div> <%= image_tag picture.picture.url(:large)%> </div>
        <% end %>
      <% end %>
    </div>
    <div class="meals-header-price">
      <%= meal.price %>€
    </div>
    <div class="meals-header-date">
      <%= l(meal.day, format: '%A %d/%m')%>
    </div>
  </div>
  <div class="meals-body">
    <div class="meals-body-chef">
      <%= link_to publics_path(meal.user) do %>
        <%=image_tag meal.user.picture.url(:medium), class: "img-circle img-chef-meal" %>
      <% end %>
      <div class= "meals-body-chef-name">
        Chef <%= meal.user.surname%>
         <%= link_to public_path(meal.user) do %>
          (<%= user_rating(meal.user)%> avis)
         <% end %>
      </div>
      <div class="meals-body-chef-map">

      </div>
    </div>
    <div class="meals-body-menu">
      <div class="meals-body-menu-title">
        <%= link_to meal_path(meal) do %>
          <h3 class= "text-center"><%= meal.title %></h3>
        <% end %>
      </div>
      <div class= "meals-body-menu-starter">
        <%= image_tag 'starter.png', class: "img-menu-meal" %>
        <div class= "meals-body-menu-starter-element">
         <i><%= meal.starter %></i>
        </div>
      </div>
      <div class= "meals-body-menu-starter">
        <%= image_tag 'main.png', class: "img-menu-meal" %>
        <div class= "meals-body-menu-starter-element">
          <i><%= meal.main %></i>
        </div>
      </div>
      <div class= "meals-body-menu-starter">
        <%= image_tag 'dessert.png', class: "img-menu-meal" %>
        <div class= "meals-body-menu-starter-element">
          <i><%= meal.dessert %></i>
        </div>
      </div>
    </div>
    <div class="meals-body-takeaway">
      <% if meal.end_hour.nil? %>
        Rdv à <%= meal.start_hour.strftime('%Hh:%M') %> chez moi
      <% else %>
        <div>
          <%= image_tag 'take.png', class: "img-take" %>
        </div>
        <div class="meals-body-takeaway-hour">
          <p><%= meal.start_hour.strftime('%Hh:%M')%> <%= meal.end_hour.strftime('à %Hh:%M') %></p>
        </div>
      <% end %>
      <div class= "meals-body-takeaway-portion">
        <span class= "size-txt-portion"><%= available_portions(meal)%></span> <%= image_tag 'portion.svg', class: "size-portion" %>
      </div>
    </div>
      <% if current_user == meal.user %>
        <%= link_to 'Modifier mon annonce', edit_profile_meal_path(meal), class: "btn btn-success buton-order" %>
      <% else %>
      <div class="meals-body-order">
        <%= render "/shared/modale", meal: meal %>
      </div>
    <% end %>
  </div>
</div>

