<div class="background-meals background-banner">
  <div class="overlay">
    <div class="background-meals-title text-center">
      <h3 class= "title-banner">Vos voisins cuisinent à Lille</h3>
      <p>(Et bientôt partout en France)</p>
    </div>
    <div class="background-meals-tampon">
      <%= image_tag 'tampon.png' %>
    </div>
  </div>
</div>


  <!-- Nav tabs -->

<div class= "week-days">
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class= 'active'><a href="#0" aria-controls="0" role="tab" data-toggle="tab"><b>Tout</b> <span class= "badge"><%= total_meals(@meals) %></span></a></li>
    <li role="presentation"><a href="#1" aria-controls="1" role="tab" data-toggle="tab"><b>Vendredi 15 janvier </b></a> </li>
    <li role="presentation"><a href="#2" aria-controls="2" role="tab" data-toggle="tab"><b>Samedi 16 janvier</b></a></li>
    <li role="presentation"><a href="#3" aria-controls="3" role="tab" data-toggle="tab"><b> Dimanche 17 janvier</b></a></li>
    <li role="presentation"><a href="#4" aria-controls="4" role="tab" data-toggle="tab"><b>Lundi 18 janvier</b></a></li>
    <li role="presentation"><a href="#5" aria-controls="5" role="tab" data-toggle="tab"><b>Mardi 19 janvier</b></a></li>
    <li role="presentation"><a href="#6" aria-controls="6" role="tab" data-toggle="tab"><b>Mercredi 20 janvier</b></a></li>
    <li role="presentation"><a href="#7" aria-controls="7" role="tab" data-toggle="tab"><b>Jeudi 21 janvier</b></a></li>
  </ul>
</div>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane in active " id="0">
      <div class="container">
        <div class="row">
          <% if total_meals(@meals) > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal)%>
                <div class="col-xs-12 col-sm-6">
                  <%= render "/shared/cardmeals", meal: meal %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés actuelement. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane in" id="1">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 0) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if DateTime.now.day == meal.day.day || 15 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                   <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane " id="2">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 1) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 1.days).day == meal.day.day || 16 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane in" id="3">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 2) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 2.days).day == meal.day.day || 17 == meal.day.day  %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane in" id="4">
      <div class="container">
        <div class="row">
            <% if number_meals(@meals, 3) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 3.days).day == meal.day.day || 18 == meal.day.day%>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="5">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 4) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal)  %>
                <% if (DateTime.now + 4.days).day == meal.day.day || 19 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="6">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 5) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 5.days).day == meal.day.day || 20 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="7">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 6) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal)%>
                <% if (DateTime.now + 6.days).day == meal.day.day || 21 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="8">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 7) > 0 || @meals.count > 0  %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal)%>
                <% if (DateTime.now + 7.days).day == meal.day.day || 22 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="9">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 8) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 8.days).day == meal.day.day || 23 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="10">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 9) > 0 || @meals.count > 0 %>
            <% @meals.each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 9.days).day == meal.day.day || 24 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


<% if current_user %>
  <script type="text/javascript">
    analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
    analytics.track('Meals index');
  </script>
<% end %>




