<div class="background-meals background-banner">
  <div class="overlay">
    <div class="background-meals-title text-center">
      <h3 class= "title-banner">Vos voisins cuisinent à Lille</h3>
      <p>(Et bientôt partout en France)</p>
    </div>
    <div class="background-meals-tampon">
      <%= image_tag 'janvier-2016.png' %>
    </div>
  </div>
</div>


  <!-- Nav tabs -->

<div class= "week-days">
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class= 'active'><a href="#0" aria-controls="0" role="tab" data-toggle="tab"><b>Tout</b> <span class= "badge"><%= total_meals(@meals) %></span></a></li>
    <li role="presentation"><a href="#1" aria-controls="1" role="tab" data-toggle="tab"><b>Vendredi 15 janvier </b></a> </li>
    <li role="presentation"><a href="#2" aria-controls="2" role="tab" data-toggle="tab"><b>Samedi 16 janvier</b></a></li>
    <li role="presentation"><a href="#3" aria-controls="3" role="tab" data-toggle="tab"><b> Dimanche 17 janvier</b></a></li>
    <li role="presentation"><a href="#4" aria-controls="4" role="tab" data-toggle="tab"><b>Lundi 18 janvier</b></a></li>
    <li role="presentation"><a href="#5" aria-controls="5" role="tab" data-toggle="tab"><b>Mardi 19 janvier</b></a></li>
    <li role="presentation"><a href="#6" aria-controls="6" role="tab" data-toggle="tab"><b>Mercredi 20 janvier</b></a></li>
    <li role="presentation"><a href="#7" aria-controls="7" role="tab" data-toggle="tab"><b>Jeudi 21 janvier</b></a></li>
  </ul>
</div>



  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane in active " id="0">

        <div class="row">
          <% if total_meals(@meals) > 0 %>
            <div class="col-xs-12 col-sm-8">
              <div class="sidebar">

                <% @meals.order(day: :asc).each do |meal| %>
                  <% if meal.validation? && meal_actual(meal)%>
                    <div class="col-sm-6">
                        <%= render "/shared/cardmeals", meal: meal %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="map-container">
                <div id="map-index" style="width: 100%; height: 100vh;"></div>
              </div>
            </div>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés actuelement. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane in" id="1">
      <div class="row">
        <% if number_meals(@meals, 0) > 0 || @meals.count > 0 %>
          <div class="col-xs-12 col-sm-8">
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if DateTime.now.day == meal.day.day || 15 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                   <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <div class="map-container">
              <div id="map-index_0" style="width: 100%; height: 100vh;"></div>
            </div>
          </div>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane " id="2">
      <div class="row">
        <% if number_meals(@meals, 1) > 0 || @meals.count > 0 %>
          <div class="col-xs-12 col-sm-8">
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 1.days).day == meal.day.day || 16 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <div class="map-container">
              <div id="map-index_1" style="width: 100%; height: 100vh;"></div>
            </div>
          </div>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane in" id="3">
      <div class="row">
        <% if number_meals(@meals, 2) > 0 || @meals.count > 0 %>
          <div class="col-xs-12 col-sm-8">
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 2.days).day == meal.day.day || 17 == meal.day.day  %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <div class="map-container">
              <div id="map-index_2" style="width: 100%; height: 100vh;"></div>
            </div>
          </div>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane in" id="4">
      <div class="row">
        <% if number_meals(@meals, 3) > 0 || @meals.count > 0 %>
          <div class="col-xs-12 col-sm-8">
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 3.days).day == meal.day.day || 18 == meal.day.day%>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <div class="map-container">
              <div id="map-index_3" style="width: 100%; height: 100vh;"></div>
            </div>
          </div>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="5">
      <div class="row">
        <% if number_meals(@meals, 4) > 0 || @meals.count > 0 %>
          <div class="col-xs-12 col-sm-8">
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal)  %>
                <% if (DateTime.now + 4.days).day == meal.day.day || 19 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <div class="map-container">
              <div id="map-index_4" style="width: 100%; height: 100vh;"></div>
            </div>
          </div>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="6">
      <div class="row">
        <% if number_meals(@meals, 5) > 0 || @meals.count > 0 %>
          <div class="col-xs-12 col-sm-8">
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 5.days).day == meal.day.day || 20 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <div class="map-container">
              <div id="map-index_5" style="width: 100%; height: 100vh;"></div>
            </div>
          </div>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="7">
      <div class="row">
        <% if number_meals(@meals, 6) > 0 || @meals.count > 0 %>
          <div class="col-xs-12 col-sm-8">
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal)%>
                <% if (DateTime.now + 6.days).day == meal.day.day || 21 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <div class="map-container">
              <div id="map-index_6" style="width: 100%; height: 100vh;"></div>
            </div>
          </div>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="8">
      <div class="row">
        <% if number_meals(@meals, 7) > 0 || @meals.count > 0  %>
          <% @meals.order(day: :asc).each do |meal| %>
            <% if meal.validation? && meal_actual(meal)%>
              <% if (DateTime.now + 7.days).day == meal.day.day || 22 == meal.day.day %>
                <div class="col-xs-12 col-sm-6">
                  <%= render "/shared/cardmeals", meal: meal %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <div class= "not-found text-center">
            <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
            <%= image_tag 'not_found.png', class: "not-found-img" %>
            <div>
              <% if current_user && current_user.chief? %>
                <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
              <% else %>
                <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="9">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 8) > 0 || @meals.count > 0 %>
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 8.days).day == meal.day.day || 23 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane in" id="10">
      <div class="container">
        <div class="row">
          <% if number_meals(@meals, 9) > 0 || @meals.count > 0 %>
            <% @meals.order(day: :asc).each do |meal| %>
              <% if meal.validation? && meal_actual(meal) %>
                <% if (DateTime.now + 9.days).day == meal.day.day || 24 == meal.day.day %>
                  <div class="col-xs-12 col-sm-6">
                    <%= render "/shared/cardmeals", meal: meal %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class= "not-found text-center">
              <h1>Il n'y a pas de menus proposés pour ce jour la. </h1>
              <%= image_tag 'not_found.png', class: "not-found-img" %>
              <div>
                <% if current_user && current_user.chief? %>
                  <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-success not-found-btn"%>
                <% else %>
                  <%= link_to 'Devenez chef Pepeat', page_path('chief_infos'), class: 'btn btn-success not-found-btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


<% if current_user %>
  <script type="text/javascript">
    analytics.identify(<%= current_user.id %>, <%= raw current_user.traits.to_json%>);
    analytics.track('Meals index');
  </script>
<% else %>
  <script type="text/javascript">
    analytics.track('Meals index');
  </script>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    hoverPicture = {
      url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png",
      width: 33,
      height: 33
    };

    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-index' } }, function(){
      markers = handler.addMarkers(<%= raw @markers.to_json %>);

      _.each(<%=raw @markers.to_json %>, function(json, index){
        var gr;
        json.marker = markers[index];
        gr = {};
        gr.marker = void 0;
        $(".location-"+json.id).on('mouseover', function() {
          gr = {
            lat: json.lat,
            lng: json.lng,
            picture: hoverPicture
          };

          handler.removeMarker(json.marker);
          gr.marker = handler.addMarker(gr);
        }).on("mouseout", function() {
          handler.removeMarker(gr.marker);
          json.marker = handler.addMarker(json);
        });
      });

      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });

      handler2 = Gmaps.build('Google');
        handler2.buildMap({ internal: { id: 'map-index_0' } }, function(){
          markers = handler2.addMarkers(<%= raw @markers_0.to_json %>);

          _.each(<%=raw @markers_0.to_json %>, function(json, index){
            var gr;
            json.marker = markers[index];
            gr = {};
            gr.marker = void 0;
            $(".location-"+json.id).on('mouseover', function() {
              gr = {
                lat: json.lat,
                lng: json.lng,
                picture: hoverPicture
              };

              handler2.removeMarker(json.marker);
              gr.marker = handler2.addMarker(gr);
            }).on("mouseout", function() {
              handler2.removeMarker(gr.marker);
              json.marker = handler2.addMarker(json);
            });
          });

          handler2.bounds.extendWith(markers);
          handler2.fitMapToBounds();
          handler2.getMap().setZoom(14);
        });

        handler3 = Gmaps.build('Google');
        handler3.buildMap({ internal: { id: 'map-index_1' } }, function(){
          markers = handler3.addMarkers(<%= raw @markers_1.to_json %>);

          _.each(<%=raw @markers_1.to_json %>, function(json, index){
            var gr;
            json.marker = markers[index];
            gr = {};
            gr.marker = void 0;
            $(".location-"+json.id).on('mouseover', function() {
              gr = {
                lat: json.lat,
                lng: json.lng,
                picture: hoverPicture
              };
              handler3.removeMarker(json.marker);
              gr.marker = handler3.addMarker(gr);
            }).on("mouseout", function() {
              handler3.removeMarker(gr.marker);
              json.marker = handler3.addMarker(json);
            });
          });

          handler3.bounds.extendWith(markers);
          handler3.fitMapToBounds();
          handler3.getMap().setZoom(14);
        });

        handler4 = Gmaps.build('Google');
        handler4.buildMap({ internal: { id: 'map-index_2' } }, function(){
          markers = handler4.addMarkers(<%= raw @markers_2.to_json %>);

          _.each(<%=raw @markers_2.to_json %>, function(json, index){
            var gr;
            json.marker = markers[index];
            gr = {};
            gr.marker = void 0;
            $(".location-"+json.id).on('mouseover', function() {
              gr = {
                lat: json.lat,
                lng: json.lng,
                picture: hoverPicture
              };
              handler4.removeMarker(json.marker);
              gr.marker = handler4.addMarker(gr);
            }).on("mouseout", function() {
              handler4.removeMarker(gr.marker);
              json.marker = handler4.addMarker(json);
            });
          });

          handler4.bounds.extendWith(markers);
          handler4.fitMapToBounds();
          handler4.getMap().setZoom(14);
        });

        handler5 = Gmaps.build('Google');
        handler5.buildMap({ internal: { id: 'map-index_3' } }, function(){
          markers = handler5.addMarkers(<%= raw @markers_3.to_json %>);

          _.each(<%=raw @markers_3.to_json %>, function(json, index){
            var gr;
            json.marker = markers[index];
            gr = {};
            gr.marker = void 0;
            $(".location-"+json.id).on('mouseover', function() {
              gr = {
                lat: json.lat,
                lng: json.lng,
                picture: hoverPicture
              };
              handler5.removeMarker(json.marker);
              gr.marker = handler5.addMarker(gr);
            }).on("mouseout", function() {
              handler5.removeMarker(gr.marker);
              json.marker = handler5.addMarker(json);
            });
          });

          handler5.bounds.extendWith(markers);
          handler5.fitMapToBounds();
          handler5.getMap().setZoom(14);
        });

        handler6 = Gmaps.build('Google');
        handler6.buildMap({ internal: { id: 'map-index_4' } }, function(){
          markers = handler6.addMarkers(<%= raw @markers_4.to_json %>);

          _.each(<%=raw @markers_4.to_json %>, function(json, index){
            var gr;
            json.marker = markers[index];
            gr = {};
            gr.marker = void 0;
            $(".location-"+json.id).on('mouseover', function() {
              gr = {
                lat: json.lat,
                lng: json.lng,
                picture: hoverPicture
              };
              handler6.removeMarker(json.marker);
              gr.marker = handler6.addMarker(gr);
            }).on("mouseout", function() {
              handler6.removeMarker(gr.marker);
              json.marker = handler6.addMarker(json);
            });
          });

          handler6.bounds.extendWith(markers);
          handler6.fitMapToBounds();
          handler6.getMap().setZoom(14);
        });

        handler7 = Gmaps.build('Google');
        handler7.buildMap({ internal: { id: 'map-index_5' } }, function(){
          markers = handler7.addMarkers(<%= raw @markers_5.to_json %>);

          _.each(<%=raw @markers_5.to_json %>, function(json, index){
            var gr;
            json.marker = markers[index];
            gr = {};
            gr.marker = void 0;
            $(".location-"+json.id).on('mouseover', function() {
              gr = {
                lat: json.lat,
                lng: json.lng,
                picture: hoverPicture
              };
              handler7.removeMarker(json.marker);
              gr.marker = handler7.addMarker(gr);
            }).on("mouseout", function() {
              handler7.removeMarker(gr.marker);
              json.marker = handler7.addMarker(json);
            });
          });

          handler7.bounds.extendWith(markers);
          handler7.fitMapToBounds();
          handler7.getMap().setZoom(14);
        });

        handler8 = Gmaps.build('Google');
        handler8.buildMap({ internal: { id: 'map-index_6' } }, function(){
          markers = handler8.addMarkers(<%= raw @markers_6.to_json %>);

          _.each(<%=raw @markers_6.to_json %>, function(json, index){
            var gr;
            json.marker = markers[index];
            gr = {};
            gr.marker = void 0;
            $(".location-"+json.id).on('mouseover', function() {
              gr = {
                lat: json.lat,
                lng: json.lng,
                picture: hoverPicture
              };
              handler8.removeMarker(json.marker);
              gr.marker = handler8.addMarker(gr);
            }).on("mouseout", function() {
              handler8.removeMarker(gr.marker);
              json.marker = handler8.addMarker(json);
            });
          });

          handler8.bounds.extendWith(markers);
          handler8.fitMapToBounds();
          handler8.getMap().setZoom(14);
        });
    })
  <% end %>
<% end %>









