<div class="background-meal-new background-banner">
  <div class="overlay">
    <div class="background-meal-new-title text-center">
      <h3><%= @meal.title%></h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
   <%= render "/shared/cardmealsshow", meal: @meal %>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="card-show-chief">
        <div class="carousel">
          <% @meal.user.chief_pictures.each do |picture| %>
            <div> <%= image_tag picture.chiefpicture.url(:large), class: "chief-pic-carousel"%> </div>
          <% end %>
        </div>
        <div class="card-show-chief-img">
          <%= image_tag @meal.user.picture.url(:medium), class: "img-circle picuser" %>
          <%= link_to 'Profil du chef', publics_path(@meal.user), class: "btn btn-pepeat2" %>
        </div>
        <div class="card-show-chief-description">
          <h3 class= "text-center">A propos du chef</h3>
          <%= @meal.user.description.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-ingredients-meal text-center">
    <h1 class= "text-center profile-header">Les ingrédients</h1>
    <%= @meal.ingredients.html_safe %>
  </div>
</div>


<div class="container">
  <div class="card-order text-center">
    <h1 class= "text-center profile-header">Les commandes</h1>
    <h3 class= "text-center"><%= total_orders(@meal) %> menu(s) commandé(s) </h3>
    <% @meal.orders.where(state: "paid").each do |order| %>
      <%= image_tag order.user.picture.url(:medium), class: "img-circle picuser" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="card-infos">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class= "card-infos-map">
          <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h1 class= "text-center profile-header">Les infos</h1>
        <div class="card-infos-plus">
          <div class="card-infos-plus-element text-center">
            <span><p>Adresse de <%=@meal.user.surname %></p></span>
            <%= @meal.user.address %>
            <div class= "card-infos-plus-element-position-img">
              <i class="fa fa-map-marker fa-3x"></i>
            </div>
          </div>
          <div class="card-infos-plus-element text-center">
            <% if @meal.home? %>
              <span><p> Jour et heure du rendez vous</p></span>
              <b><%= @meal.day.strftime('%d/%m/%Y') %></b> <%= @meal.home_hour.strftime('%Hh:%M') %>
            <% else %>
              <span><p>Jour et heure du Takeaway</p></span>
              <b><%= @meal.day.strftime('%d/%m/%Y') %></b>  <%= @meal.start_hour.strftime('%Hh:%M')%> - <%= @meal.end_hour.strftime('%Hh:%M') %>
            <% end %>
            <div class= "card-infos-plus-element-position-img">
              <i class="fa fa-calendar fa-3x"></i>
            </div>
          </div>
          <div class="card-infos-plus-order">
            <div class="card-infos-plus-order-buton">
              <% if DateTime.now.day == @meal.day.day && ((@meal.takeaway && DateTime.now.hour + 3 > @meal.start_hour.hour) || (@meal.home && DateTime.now.hour + 3 > @meal.home_hour.hour)) %>
                <%= link_to "Trop tard pour commander le menu", '', class: "disabled btn btn-danger buton-order" %>
              <% else %>
                <% if current_user == @meal.user %>
                  <%= link_to 'Modifier mon annonce', edit_profile_meal_path(@meal), class: "btn btn-success buton-order" %>
                <% else %>
                  <div class="meals-body-order">
                    <%= render "/shared/modale", meal: @meal %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="card-feedback">
    <h1 class= "text-center profile-header">Les derniers avis de <%= @meal.user.surname %></h1>
    <div class="row">
      <% if review(@user) == 0 %>
          <h3 class= "text-center">Le chef n'a pas encore d'avis</h3>
      <% else %>
        <% @user.meals.each do |meal| %>
          <%= render '/shared/review', meal: meal %>
        <% end %>
        <div class= "text-center avis-btn-position">
          <%= link_to 'Voir tous les avis', public_path(@user), class: "btn btn-pepeat" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    })
  <% end %>
<% end %>

<script type="text/javascript">
  analytics.track('Meal show', {
  meal_id: '<%= @meal.id %>',
  meal_name: '<%=@meal.title %>',
  meal_price: '<%= @meal.price %>',
  meal_day: '<%= @meal.day %>',
  meal_portion: '<%= @meal.portion%>',
  meal_takeaway: '<%= @meal.takeaway%>',
  meal_chief_id: '<%= @meal.user.id%>'
  meal_chief_id: '<%= @meal.user.surname%>'

});
</script>
