<h3 class= "text-center title2">Les plats actuellement proposés</h3>
<div class="container">
  <div class="row">
    <% @user.meals.each do |meal| %>
      <div class="col-xs-6">
        <%= render "/meals/cardmeals", meal: meal %>
      </div>
      <div class= "placeholder-meal">
        <%= link_to new_profile_meal_path do %>
          <%= image_tag 'placeholder-meal' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




<div class="card-offer-left-announce">
                <%= link_to "Voir l'annonce", meal_path(meal), class: "btn btn-success" %>
              </div>
              <div class="card-offer-left-edit">
                <%= link_to "Editer l'annonce",  edit_profile_meal_path(meal), class: "btn btn-success" %>
              </div>


<div class="container">
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-xs-6">
     <%= render "cardmeals", meal: meal %>
      </div>
    <% end %>
  </div>
</div>



<%= link_to t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider) %><br />



<%= simple_form_for(current_user, url: chief_profile_path, action: 'chief', method: 'patch', html: { multipart: true }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :chief, as: :hidden, input_html: { value: true } %>
          <%= f.button :submit, "Go Pepeat !", class: "btn-lg btn-pepeat" %>
