<h3 class= "text-center title2">Les plats actuellement proposés</h3>
<div class="container">
  <div class="row">
    <% @user.meals.each do |meal| %>
      <div class="col-xs-6">
        <%= render "/meals/cardmeals", meal: meal %>
      </div>
      <div class= "placeholder-meal">
        <%= link_to new_profile_meal_path do %>
          <%= image_tag 'placeholder-meal' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




<div class="card-offer-left-announce">
                <%= link_to "Voir l'annonce", meal_path(meal), class: "btn btn-success" %>
              </div>
              <div class="card-offer-left-edit">
                <%= link_to "Editer l'annonce",  edit_profile_meal_path(meal), class: "btn btn-success" %>
              </div>


<div class="container">
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-xs-6">
     <%= render "cardmeals", meal: meal %>
      </div>
    <% end %>
  </div>
</div>



<%= link_to t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider) %><br />



<%= simple_form_for(current_user, url: chief_profile_path, action: 'chief', method: 'patch', html: { multipart: true }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :chief, as: :hidden, input_html: { value: true } %>
          <%= f.button :submit, "Go Pepeat !", class: "btn-lg btn-pepeat" %>




<div class="bg-chief">
  <div class= "overlay-chief">
    <div class="container">
      <h1 class= "text-center"> Les chefs Pepeat</h1>
      <h3 class= "text-center">Pepeat propose un service légal prennant en compte la nouvelle économie collaborative. Nous accompagnons nos cuisiniers dans leur activité Pepeat pour leur permettre un maximum de liberté.</h3>
      <div class="row">
        <div class="col-xs-6">
          <div class="bg-chief-amateur">
            <div class="bg-chief-amateur-header text-center">
              <%= image_tag 'amateur2.png', class: "icon-pro-amateur" %>
              <h2 class= "text-center">Amateur</h2>
              <h4 class= "text-center">Le service Pepeat amateur permet à n'importe qui de devenir chef Pepeat. C'est le meilleur moyen de tester le service avant de prendre la décision de devenir pro ou non. </h4>
             </div>
            <div class="bg-chief-amateur-body">

            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="bg-chief-pro">
            <div class="bg-chief-pro-header text-center">
              <%= image_tag 'pro2.png', class: "icon-pro-amateur" %>
              <h2 class= "text-center text-center">Professionnel</h2>
              <h4 class= "text-center">Le service Pepeat pro est réservé aux professionnels de la cuisine. Il n'auront pas de limite de chiffre d'affaire et de nombreux outils seront mis à leur disposition pour les aider dans leur activité.</h4>
            </div>
            <div class="bg-chief-pro-body">

            </div>
          </div>
        </div>
      </div>
      <div class="text-center bg-chief-button">
        <%= link_to 'En savoir plus', '', class: "btn-lg btn-pepeat" %>
      </div>
    </div>
  </div>
</div>



<div class= "hidden-form cropable">
                <%= form_for picture, url: profile_chief_picture_path(picture)  do |f| %>
                  <%= f.cropbox :chiefpicture, :width => 300 %>
                  <div class= "text-center">
                    <%= f.submit 'Sauvegarder', class: "btn btn-pepeat" %>
                  </div>
                <% end %>
              </div>



  <div class="container">
      <div class="chief-kitchen text-center">
        <h1 class= "text-center profile-header">Ma gallerie photo</h1>
        <div class="row">
          <div class= "picture-kitchen">
            <% @user.chief_pictures.each do |pic| %>
              <div class="col-xs-3">
                <%= image_tag pic.chiefpicture.url(:medium), class: "preview-size-kitchen"%>
              </div>
            <% end %>
              <div id="target11"></div>
            <% if @user.chief_pictures.count != 0 %>
              <div class="col-xs-3">
                <span class= "btn btn-success" id= "placeholder-kitchen">Changer les photos</span>
              </div>
            <% else %>
              <i class="fa fa-plus-square fa-5x" id= "placeholder-kitchen"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-form">
      <%= file_field_tag "chiefpictures[]", type: :file, multiple: true,  id: "kitchenpictureInput" %>
    </div>


    <div class="step text-center">
    <h2>3/ Publiez des photos de votre menu </h2>
  </div>
  <p class= "text-center"> Vous pouvez sélectionner plusieurs photos à la fois</p>
  <p class= "text-center">Essayez de mettre une photo de chacunes de vos réalisations différentes</p>
  <div class="container">
    <div class="chief-kitchen text-center">
      <div class="row">
        <div class= "picture-kitchen">
          <div id="spacetarget" class="preview-img-profile"></div>
          <div class="col-xs-3">
            <%= image_tag 'placeholder_meal.png', id: "placeholder-kitchen", class: "preview-meal"%>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="step text-center">
    <h2>3/ Publiez des photos de votre menu </h2>
  </div>
  <p class= "text-center"> Vous pouvez sélectionner plusieurs photos à la fois</p>
  <p class= "text-center">Essayez de mettre une photo de chacunes de vos réalisations différentes</p>
  <div class="container">
    <div class="chief-kitchen text-center">
      <div class="row">
        <div class= "picture-kitchen">
          <div id="spacetarget" class="preview-img-profile preview-pic"></div>
          <% @meal.meal_pictures.each do |picture| %>
            <div class="col-xs-3">
              <div>
                <%=image_tag picture.picture.url(:medium), class: "preview-meal"%>
              </div>
              <%= link_to profile_meal_picture_path(picture, meal: @meal.id),
                 method: :delete,
                 data: { confirm: "Are you sure?" }, class: "btn btn-sm " do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
             </div>
          <% end %>
          <div class="col-xs-3">
            <%= image_tag 'placeholder_meal.png', id: "placeholder-kitchen", class: "preview-meal"%>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= image_tag "https://pepeat-v2-production.herokuapp.com/assets/pepeat-title.png", class: "pepeat-mail" %>





  <% if current_user %>
  <script type="text/javascript">
    mixpanel.identify("<%= current_user.email %>");
    mixpanel.people.set({
      "$email": "<%= current_user.email %>",
    });
  </script>
<% end %>



<script type="text/javascript">
  mixpanel.track("Home-Page",
      {"Mail": "<%= current_user.email %>",
      "Firstname": "<%= current_user.firstname %>",
      "Lastname": "<%= current_user.lastname %>",
      "Tel": "<%= current_user.phone_number %>"
  });
</script>



<% if request.original_url == "" || request.original_url == 'https://pepeat-v2-production.herokuapp.com/' %>

  <% if notice %>
    <div class="home-alert">
      <div class="alert alert-info alert-dismissible slideDown fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert", role:"button", aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="home-alert">
      <div class="alert alert-warning alert-dismissible slideDown fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
    </div>
  <% end %>


<% else %>

<!-- Ultra important à garder-->

<div class= "week-days">
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class= 'active'><a href="#0" aria-controls="0" role="tab" data-toggle="tab"><b>Tout</b> <span class= "badge"><%= total_meals(@meals) %></span></a></li>
    <li role="presentation"><a href="#1" aria-controls="1" role="tab" data-toggle="tab"><b>Aujourd'hui <span class= "badge"> <%= number_meals(@meals, 0) %></span></b></a> </li>
    <li role="presentation"><a href="#2" aria-controls="2" role="tab" data-toggle="tab"><b><%= l(DateTime.now + 1.days, format: '%A %d')%> <span class= "badge"> <%= number_meals(@meals, 1) %></span></b></a></li>
    <li role="presentation"><a href="#3" aria-controls="3" role="tab" data-toggle="tab"><b><%= l(DateTime.now + 2.days, format: '%A %d')%> <span class= "badge"> <%= number_meals(@meals, 2) %></span></b></a></li>
    <li role="presentation"><a href="#4" aria-controls="4" role="tab" data-toggle="tab"><b><%= l(DateTime.now + 3.days, format: '%A %d')%> <span class= "badge"> <%= number_meals(@meals, 3) %></span></b></a></li>
    <li role="presentation"><a href="#5" aria-controls="5" role="tab" data-toggle="tab"><b><%= l(DateTime.now + 4.days, format: '%A %d')%> <span class= "badge"> <%= number_meals(@meals, 4) %></span></b></a></li>
    <li role="presentation"><a href="#6" aria-controls="6" role="tab" data-toggle="tab"><b><%= l(DateTime.now + 5.days, format: '%A %d')%> <span class= "badge"> <%= number_meals(@meals, 5) %></span></b></a></li>
    <li role="presentation"><a href="#7" aria-controls="7" role="tab" data-toggle="tab"><b><%= l(DateTime.now + 6.days, format: '%A %d')%> <span class= "badge"> <%= number_meals(@meals, 6) %></span> </b></a></li>
  </ul>
</div>

<!-- Ultra important à garder-->


<!-- cardmeal -->

 <div class="meals">
  <div class="meals-header">
    <div class= "carousel">
      <% meal.meal_pictures.each do |picture| %>
        <%= link_to meal_path(meal) do %>
          <div> <%= image_tag picture.picture.url(:large), class: "img-carousel"%> </div>
        <% end %>
      <% end %>
    </div>
    <div class="meals-header-away">
      <% if meal.home? %>
        <h3 class= "text-center">Diner chez le chef</h3>
      <% else %>
        <h3 class= "text-center">A emporter</h3>
      <% end %>
    </div>
    <div class="meals-header-price">
      <%= meal.price %>€
    </div>
    <div class="meals-header-date">
      <%= l(meal.day, format: '%A %d/%m')%>
    </div>
    <div class="meals-header-pic">
      <%= link_to publics_path(meal.user) do %>
        <%=image_tag meal.user.picture.url(:medium), class: "img-circle img-chef-meal" %>
      <% end %>
    </div>
  </div>
  <div class="meals-body">
    <div class="meals-body-chef">
      <%= link_to publics_path(meal.user) do %>
        <%=image_tag meal.user.picture.url(:medium), class: "img-circle img-chef-meal" %>
      <% end %>
      <div class= "meals-body-chef-name">
        Chef <%= meal.user.surname%>
         <%= link_to public_path(meal.user) do %>
          (<%= user_rating(meal.user)%> avis)
         <% end %>
      </div>
      <div class="meals-body-chef-map">

      </div>
    </div>
    <div class="meals-body-menu">
      <div class="meals-body-menu-title">
        <%= link_to meal_path(meal) do %>
          <h3 class= "text-center"><%= meal.title %></h3>
        <% end %>
      </div>
      <% if meal.starter? %>
        <div class= "meals-body-menu-starter">
          <%= image_tag 'starter.png', class: "img-menu-meal" %>
          <div class= "meals-body-menu-starter-element">
           <i><%= meal.starter %></i>
          </div>
        </div>
      <% end %>
      <% if meal.main? %>
        <div class= "meals-body-menu-starter">
          <%= image_tag 'main.png', class: "img-menu-meal" %>
          <div class= "meals-body-menu-starter-element">
            <i><%= meal.main %></i>
          </div>
        </div>
      <% end %>
      <% if meal.dessert? %>
        <div class= "meals-body-menu-starter">
          <%= image_tag 'dessert.png', class: "img-menu-meal" %>
          <div class= "meals-body-menu-starter-element">
            <i><%= meal.dessert %></i>
          </div>
        </div>
      <% end %>
    </div>
    <div class="meals-body-takeaway">
      <% if meal.home? %>
        <div>
          <%= image_tag 'home2.png', class: "img-take hover", title: "Diner chez le chef" %>
        </div>
        <div class="meals-body-takeaway-hour">
          Rdv à <%= meal.home_hour.strftime('%Hh:%M') %> chez le chef
        </div>
      <% else %>
        <div>
          <%= image_tag 'take.png', class: "img-take hover", title: "A emporter chez sois" %>
        </div>
        <div class="meals-body-takeaway-hour">
          <p><%= meal.start_hour.strftime('%Hh:%M')%> <%= meal.end_hour.strftime('à %Hh:%M') %></p>
        </div>
      <% end %>
      <div class= "meals-body-takeaway-portion">
        <span class= "size-txt-portion"><%= available_portions(meal)%></span> <%= image_tag 'portion.svg', class: "size-portion" %>
      </div>
    </div>
      <% if current_user == meal.user %>
        <% if meal.orders.count == 0 %>
          <%= link_to 'Modifier mon annonce', edit_profile_meal_path(meal), class: "btn btn-success buton-order" %>
        <% end %>
      <% else %>
      <div class="meals-body-order">
        <%= render "/shared/modale", meal: meal %>
      </div>
    <% end %>
  </div>
</div>

<!-- cardmeal -->



