<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

  <!-- Use title if it's in the page YAML frontmatter -->

    <title>Pepeat - La cuisine de vos voisins dans votre assiette, en un clic !</title>
    <meta name="description" content="Pepeat révolutionne vos repas .. ">
    <%= favicon_link_tag 'pepeat.png' %>

    <!-- Facebook -->
      <meta property="og:title" content="Pepeat - Mangez frais et équilibré grâce aux chefs de votre quartier!"/>
      <meta property="og:image" content="https://www.pepeat.org/assets/card"/>
      <meta property="og:description" content="Tous les jours, des chefs de votre quartier cuisinent de délicieux plats maison. Renouez avec votre quartier tout en savourant une cuisine de qualité avec des produits frais."/>
      <meta property="og:site_name" content="Pepeat"/>
    <!-- Facebook -->

    <!-- Twitter -->
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@_Pepeat"/>
      <meta name="twitter:title" content="Pepeat - Mangez frais et équilibré grâce aux chefs de votre quartier!"/>
      <meta name="twitter:description" content="Tous les jours, des chefs de votre quartier cuisinent de délicieux plats maison. Renouez avec votre quartier tout en savourant une cuisine de qualité avec des produits frais."/>
      <meta name="twitter:creator" content="@_Pepeat"/>
      <meta name="twitter:image:src" content="https://www.pepeat.org/assets/card"/>
    <!-- Twitter -->

  <!-- segment -->
  <script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
analytics.load("5TFnhJ1p81vaHmy4MqXISSw9KgkeYIQi");
analytics.page()
}}();
</script>

  <!-- segment -->

  <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1034235769953544');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1034235769953544&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  <script>
    fbq('track', 'Lead');
    fbq('track', 'ViewContent');
    fbq('track', 'CompleteRegistration');
  </script>

</head>
<body>
  <%= render "shared/flashes" %>
  <%= render "shared/navbar" %>


  <%= yield %>

  <%= render "shared/footer" %>

  <%= javascript_include_tag"https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCRwVTKzUF-FlksNluqvZDfToWJrqXZiME" %>

  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>


  <%= javascript_include_tag :application %>


  <%= yield(:after_js) %>
  <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>

</body>
</html>
